| {% extends 'layout.html' %}
| {% block page_title %}Welcome{% endblock %}

| {% block og %}
meta(property="og:title", content="Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="https://cloud.blender.org/static/assets/img/background_gleb_locomotive.jpg")
| {% endblock %}

| {% block header_backdrop %}
.homepage.navbar-backdrop(style="background-image: url({{ url_for('static', filename='assets/img/background_gleb_locomotive.jpg')}})")
	//
		video(loop, muted, autoplay, poster="{{ url_for('static', filename='assets/img/background_join_glass.jpg')}}", class="fullscreen-bg__video")
			source(src="{{ url_for('static', filename='assets/video/header-glass_half.webm')}}", type="video/webm")
			source(src="{{ url_for('static', filename='assets/video/header-glass_half.mp4')}}", type="video/mp4")x
.homepage.navbar-backdrop-overlay
| {% endblock %}

| {% block body %}

#homepage.page-content
	#header
		.text
			.title
				a(href="/p/gallery/")
					img(src="{{ url_for('static', filename='assets/img/logo_gallery.png')}}")

			.lead
				span.
					Discover 5 stunning artworks by Gleb Alexandrov.
					<br/>
					Full sources and documentation available in CC-BY.
				//
					We make films, we build a production pipeline, and we share everything.
					<br/>Get full access to the Blender Institute's Open Projects and training material.

			.buttons
				| {% if current_user.is_authenticated() %}
				a.btn.btn-default.btn-outline.follow(href="/p/gallery/")
					| Check it Out
				| {% else %}
				a.btn.btn-default.btn-outline.get-started(href="https://store.blender.org/product/membership/")
					| Subscribe Now
				a.btn.btn-default.btn-outline.learn-more(href="/p/gallery/")
					| Check it Out
				| {% endif %}

	#content
		section#homepage.links
			#links-container

				a.links-item.training(href="{{ url_for('training') }}")
					span.bar
					span.title Training

					p.content.
						Learn from the masters - production quality
						training videos by 3d professionals.


				a.links-item.open_projects(href="{{ url_for('open_projects') }}")
					span.bar
					span.title Open Movies

					p.content Full production data and tutorials from all open movies, for you to use freely.


				a.links-item.artgallery(href="{{ url_for('gallery') }}")
					span.bar
					span.title Art Gallery

					p.content.
						Learn by example - Documentation & source files
						of the best Blender artwork out there


#homepage.page-content
	#content
		section#updates.node-extra
			.node-updates
				h3 Blog Updates
				ul.node-updates-list
					| {% if latest_posts %}

					| {% for n in latest_posts %}
					li.node-updates-list-item
						| {% if n.picture %}
						a(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}")
							img.image(src="{{ n.picture.thumbnail('s', api=api) }}")
						| {% endif %}
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}") {{ n.name }}
							span.details
								span.where
									a(href="{{ url_for('project_view', project_url=n.project.properties.url) }}") {{ n.project.name }}
								span.when(title="Updated {{ n._updated | pretty_date }}")  · by {{ n.user.full_name }} · {{ n._created | pretty_date }}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No updates yet.

					| {% endif %}

				h3 Latest Comments
				ul.node-updates-list
					| {% if latest_comments %}

					| {% for n in latest_comments %}
					li.node-updates-list-item.comments
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n.parent, redir=1) }}") {{ n.properties.content }}
							span.details
								span.where
									a(href="{{ url_for('project_view', project_url=n.project.properties.url) }}") {{ n.project.name }}
								span.when  · by {{ n.user.full_name }} · {{ n._created | pretty_date }}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No comments yet.

					| {% endif %}

		section#updates
			h3 Latest Assets
			.latestassets-list
				| {% if latest_assets %}

				| {% for n in latest_assets %}

				a.latestassets-list-item(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}")
					| {% if n.picture %}
					img.image(src="{{ n.picture.thumbnail('b', api=api) }}")
					| {% else %}
					.image-empty
						| {% if n.properties.content_type == 'video' %}
						i.pi-film-thick
						| {% elif n.properties.content_type == 'image' %}
						i.pi-image
						| {% elif n.properties.content_type == 'file' %}
						i.pi-document
						| {% else %}
						i.pi-folder
						| {% endif %}
					| {% endif %}

					.info
						.title {{ n.name }}
						span.details
							span.who
								span.what {{ n.properties.content_type }}
								span by  {{ n.user.full_name }}
							span.when {{ n._updated | pretty_date }}

				| {% endfor %}

				| {% else %}

				li.node-featured-list-item
					.info
						span.details
							span.when No featured items yet.

				| {% endif %}


section#homepage.bullets

	h1 Up Next

	.lead Below is a brief of the projects we have planned for the near future, exciting times ahead!

	.bullets-list
		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Glass Half
			.bullets-list-item-content.
				In this fun cartoon short we explore NPR Rendering and motion graphics production.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-body-outline
			.bullets-list-item-title Character Department
			.bullets-list-item-content.
				Oct '15: A new section around the Blenrig character rigging tool, many tutorials and ready to use characters.
		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Caminandes Xmas edition
			.bullets-list-item-content.
				Dec '15: The Llama is back! And we'll pick up work on Cycles, Asset managing and Shot Management.


		.bullets-list-item
			.bullets-list-item-icon
				i.pi-box-outline
			.bullets-list-item-title Asset Libraries
			.bullets-list-item-content.
				Dec '15: A huge public domain Texture Library and a CC-BY Character Library, ready to animate.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-camera-shots-outline
			.bullets-list-item-title Shot Management
			.bullets-list-item-content.
				Q1 '16: Attract shot management tool available for subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-people-outline
			.bullets-list-item-title Project Management
			.bullets-list-item-content.
				Q3 '16: Versioning and storage available for subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Cosmos Laundromat
			.bullets-list-item-content.
				Production of the 2nd Cycle for Cosmos Laundromat will start when we hit 4K subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-blender
			.bullets-list-item-title Blender Development
			.bullets-list-item-content.
				Blender Institute will host the core team working on the 2.8 Workflow project.

| {% if not current_user.is_authenticated() or not current_user.has_role('subscriber') %}

section#homepage.supported-by

	h1 Our Open Projects were supported by

	img.logos(src="{{ url_for('static', filename='assets/img/support_logos.png') }}")


section#homepage.get-started

	h2 Only $10 per month*

	a.btn.btn-default.btn-outline.get-started(href="https://store.blender.org/product/membership/")
		| Subscribe Now

	.notes
		| * no sign-up fee · cancel anytime · 3 months minimum

| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
script.
	$('.go-to-upnext').on('click', function(e){
		e.preventDefault;
		$("html, body").animate({scrollTop: $('.bullets').offset().top }, 350);
	})
| {% endblock %}
