| {% extends 'layout.html' %}
| {% block page_title %}{% endblock %}

| {% block og %}
meta(property="og:title", content="Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="https://cloud.blender.org/static/assets/img/background_join_bbb.jpg")
| {% endblock %}

| {% block header_backdrop %}
.homepage.navbar-backdrop(style="background-image: url({{ url_for('static', filename='assets/img/background_join_bbb.jpg')}})")
.homepage.navbar-backdrop-overlay
| {% endblock %}

| {% block body %}
.container

	#homepage.page-content

		#header
			.text
				.title Your online studio
				.lead.
					Full access to the Blender Institute's film projects and training,
					to support Blender development and build an open production platform. <a href="{{ url_for('join') }}">JOIN.</a>

		#content
			#sidebar

				section#join
					#price
						span.amount
							small $
							| 10
						span.per
							|	per month

					a#subscribe(href="#") Subscribe Now
					span.extra no sign-up fee - cancel anytime <br/> 3 months minimum



				section#goals

					.milestone-item
						.milestone-item-title &check; 8 Open Movies
						.milestone-item-content.
							From Elephants Dream to Cosmos Laundromat -
							the full production data and tutorials for you to use freely.

					.milestone-item
						.milestone-item-title &check; 11 Training titles
						.milestone-item-content.
							Learn from the masters - production quality 
							training videos by 3d professionals.

					.milestone-item
						.milestone-item-title &check; Glass Half
						.milestone-item-content.
							In this fun cartoon short we explore NPR Rendering and motion graphics production.

					.milestone-item
						.milestone-item-title Character Department
						.milestone-item-content.
							Oct '15: A new section around the Blenrig character rigging tool, many tutorials and ready to use characters.
					.milestone-item
						.milestone-item-title Caminandes Xmas edition
						.milestone-item-content.
							Dec '15: The Llama is back! And we'll pick up work on Cycles, Asset managing and Shot Management.


					.milestone-item
						.milestone-item-title Asset Libraries
						.milestone-item-content.
							Dec '15: A huge public domain Texture Library and a CC-BY Character Library, ready to animate.

					.milestone-item
						.milestone-item-title Shot Management
						.milestone-item-content.
							Q1 '16: Attract shot management tool available for subscribers.

					.milestone-item
						.milestone-item-title Project Management
						.milestone-item-content.
							Q3 '16: Versioning and storage available for subscribers.

					.milestone-item
						.milestone-item-title Cosmos Laundromat 2nd Cycle.
						.milestone-item-content.
							Production of the 2nd Cycle for Cosmos Laundromat will start when we hit the 4k member milestone. (read more)

					.milestone-item
						.milestone-item-title Blender Development.
						.milestone-item-content.
							Blender Institute will host the core team working on the 2.8 Workflow project.

			#main

				section#links
					#links-container
						a.links-item.open_projects(href="{{ url_for('open_projects') }}")
							img.header(src="{{ url_for('static', filename='assets/img/frontpage_link_openprojects.jpg') }}")
							span.bar
							span.title Open Projects

							p.content Browse the entire production trees of all the open-movie projects

						a.links-item.training(href="{{ url_for('training') }}")
							img.header(src="{{ url_for('static', filename='assets/img/frontpage_link_training.jpg') }}")
							span.bar
							span.title Training

							p.content Watch and learn from more than 100 hours of educational material


						//
							a.links-item
								img.header(src="{{ url_for('static', filename='assets/img/frontpage_link_assets.jpg') }}")
								span.title Assets

							p.content Some text about ths estufsd

				section#updates
					h2.section-title Latest Updates

					| {% for i in range(1, 8) %}
					.update-list-item
						.update-list-item-title
							h4 Title of the Update {{loop.index}}
							span.update-list-item-when
								| {{loop.index * 6.66 | round | int }} mins ago
						//- span.update-list-item-content.
						//- 	Sed elementum eros nec lectus euismod hendrerit. In non laoreet libero, sed facilisis justo.
					| {% endfor %}

| {% endblock %}

| {% block footer_scripts %}
| {% endblock %}
