| {% extends 'layout.html' %}
| {% block page_title %}Welcome{% endblock %}

| {% block og %}
meta(property="og:title", content="Blender Cloud")
meta(property="og:url", content="https://cloud.blender.org/")
meta(property="og:image", content="https://cloud.blender.org/static/assets/img/background_join_bbb.jpg")
| {% endblock %}

| {% block header_backdrop %}
.homepage.navbar-backdrop
	video(loop, muted, autoplay, poster="{{ url_for('static', filename='assets/img/background_join_glass.jpg')}}", class="fullscreen-bg__video")
		source(src="{{ url_for('static', filename='assets/video/header-glass_half.webm')}}", type="video/webm")
		source(src="{{ url_for('static', filename='assets/video/header-glass_half.mp4')}}", type="video/mp4")
.homepage.navbar-backdrop-overlay


| {% endblock %}

| {% block body %}

#homepage.page-content
	#header
		.text
			.title
				| {% if current_user.is_authenticated() %}
				a(href="/bi/glass-half")
					img(src="{{ url_for('static', filename='assets/img/logo_glasshalf.png')}}")
				| {% else %}
				| Your Online Animation Studio
				| {% endif %}

			.lead.
				{% if current_user.is_authenticated() %}
					Two amateur art critics meet in a gallery and argue passionately about the pieces they see,
					<br/>
					causing chaos for everyone else,
					until finally they find a piece on which they can agree...
				{% else %}
					We make film, we build a production pipeline, and we share everything.
					<br/>Get full access to the Blender Institute's Open Projects and training material.
				{% endif %}

			.buttons
				| {% if current_user.is_authenticated() %}

				a.btn.btn-default.btn-outline.follow(href="/bi/glass-half")
					| Check it Out

				| {% else %}
				a.btn.btn-default.btn-outline.get-started(href="https://store.blender.org/product/membership/")
					| Get Started
				a.btn.btn-default.btn-outline.learn-more.go-to-upnext
					| Learn More
				| {% endif %}

	#content
		section#homepage.links
			#links-container

				a.links-item.training(href="{{ url_for('training') }}")
					span.bar
					span.title Training

					p.content.
						Learn from the masters - production quality
						training videos by 3d professionals.


				a.links-item.open_projects(href="{{ url_for('open_projects') }}")
					span.bar
					span.title Open Movies

					p.content Full production data and tutorials from all open movies, for you to use freely.


				a.links-item.upnext.go-to-upnext
					span.bar
					span.title Up Next

					p.content Assets library, shot management, project management, and more. We've got big plans.

| {% if current_user.is_authenticated() %}

#homepage.page-content
	#content
		section#updates.node-extra
			.node-updates
				h3 Blog Updates
				ul.node-updates-list
					| {% if latest_posts %}

					| {% for n in latest_posts %}
					li.node-updates-list-item
						img.image(src="http://placehold.it/160x160")
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated | pretty_date }}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No updates yet.

					| {% endif %}

		section#updates
			h3 Latest Assets
			.latestassets-list
				| {% if latest_assets %}

				| {% for n in latest_assets %}
				a.latestassets-list-item(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}")
					img.image(src="http://placehold.it/160x160")
					.info
						.title {{ n.name }}
						span.details
							span.who  by
								span  {{ n.user.full_name }}
							span.when {{ n._updated | pretty_date }}
				| {% endfor %}

				| {% else %}

				li.node-featured-list-item
					.info
						span.details
							span.when No featured items yet.

				| {% endif %}
| {% endif %}


section#homepage.bullets

	h1 Up Next

	.lead Below is a brief of the projects we have planned for the near future, exciting times ahead!

	.bullets-list
		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Glass Half
			.bullets-list-item-content.
				In this fun cartoon short we explore NPR Rendering and motion graphics production.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-body-outline
			.bullets-list-item-title Character Department
			.bullets-list-item-content.
				Oct '15: A new section around the Blenrig character rigging tool, many tutorials and ready to use characters.
		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Caminandes Xmas edition
			.bullets-list-item-content.
				Dec '15: The Llama is back! And we'll pick up work on Cycles, Asset managing and Shot Management.


		.bullets-list-item
			.bullets-list-item-icon
				i.pi-box-outline
			.bullets-list-item-title Asset Libraries
			.bullets-list-item-content.
				Dec '15: A huge public domain Texture Library and a CC-BY Character Library, ready to animate.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-camera-shots-outline
			.bullets-list-item-title Shot Management
			.bullets-list-item-content.
				Q1 '16: Attract shot management tool available for subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-people-outline
			.bullets-list-item-title Project Management
			.bullets-list-item-content.
				Q3 '16: Versioning and storage available for subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-film
			.bullets-list-item-title Cosmos Laundromat
			.bullets-list-item-content.
				Production of the 2nd Cycle for Cosmos Laundromat will start when we hit 4K subscribers.

		.bullets-list-item
			.bullets-list-item-icon
				i.pi-blender
			.bullets-list-item-title Blender Development
			.bullets-list-item-content.
				Blender Institute will host the core team working on the 2.8 Workflow project.

| {% if not current_user.is_authenticated() or not current_user.has_role('subscriber') %}

section#homepage.supported-by

	h1 Our Open Projects were supported by

	img.logos(src="{{ url_for('static', filename='assets/img/support_logos.png') }}")


section#homepage.get-started

	h2 Only $10 per month*

	a.btn.btn-default.btn-outline.get-started(href="https://store.blender.org/product/membership/")
		| Subscribe Now

	.notes
		| * no sign-up fee · cancel anytime · 3 months minimum

| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
script.
	$('.go-to-upnext').on('click', function(e){
		e.preventDefault;
		$("html, body").animate({scrollTop: $('.bullets').offset().top }, 350);
	})
| {% endblock %}
