{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <h2>{{node.name}}</h2>
  <div class="row">
    <div class="col-md-6">
      {% if node.properties.path %}
        <a href="#" class="thumbnail">
            <img src="/static/storage/{{node.properties.path}}" alt="{{node['name']}}">
        </a>
      {% else %}
        <p>Picture goes here</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <p>{{node.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Content Type: {{node.properties.contentType}}</p>
      <p>Length: {{node.properties.length}}</p>
      <p>Upload date: {{node.properties.uploadDate}}</p>
      <p>MD5: {{node.properties.md5}}</p>
      <p>Filename: {{node.properties.filename}}</p>
      <p>Path: {{node.properties.path}}</p>
      {% if parent %}
      <p>Parent: <a href="{{url_for('nodes.view', node_id=parent._id)}}">{{parent.name}}</a></p>
      {% endif %}
    </div>
    <div class="col-md-6">
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-s" href="{{url_for('nodes.edit', node_id=node._id)}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    </div>
  </div>
</div>

{% endblock %}
