| {% extends 'layout.html' %}

| {% block page_title %}Projects{% endblock%}

| {% block body %}
.container

| {% for project in projects %}
| {{ project.to_dict() }}
| {% endfor %}

| {% endblock %}
