| {% extends 'layout.html' %}

| {% block page_title %}{{user.name}}{% endblock%}

| {% block body %}

.container
	#project_container

		#project_index-container

			#project_index-header
				.project_index-user {{user.name}}
				p.project_index-description {{user.description}}

			#project_index-list-container
				.project_index-list
					| {% for project in projects %}

					a(href="{{ url_for('project_view', name=user.url, project=project.properties.url) }}").project_index-list-item
						img.item-image(src="http://placehold.it/90x90/aaaaaa/ffffff")
						span.item-title {{project.name}}
						p.item-description {{project.description}}

					| {% endfor %}

| {% endblock %}
