
#comments-container

	section#comments-list

		.comment-reply-container

			.comment-reply-avatar
				// XXX Use actual avatar
				img(src="http://placehold.it/40x40")

			.comment-reply-form
				.comment-reply-field
					textarea(placeholder="Join the conversation...", data-parent_id="{{ parent_id }}")#comment_field
					.comment-reply-preview

				.comment-reply-meta
					.comment-details
						.comment-rules
							a(href="https://guides.github.com/features/mastering-markdown/") markdown supported

						.comment-author
							| commenting as
							span.author-name Dude name

					button.comment-submit.btn.btn-outline(type="button") Post Comment


		section#comments-header

			h3 Comments
				// XXX use actual comments count
				span ({{ comments|length }})


		| {# Each individual comment #}
		| {% for comment in comments %}

		// placeholder numbers for style
		//- | {% set mod = (loop.index == 2) %}
		//- | {% set reply = (loop.index > 3) %}

		.comment-container(class="{% if comment['is_team'] %}is-team{% endif %} {% if comment['is_reply'] %}is-reply{% endif %}")

			.comment-header
				.comment-avatar
					// XXX Use actual avatar
					img(src="{{comment['gravatar']}}")

				.comment-author
					| {{comment['author']}}

				| {% if comment['is_team'] %}
				.comment-badge.badge-team team
				| {% endif %}

				.comment-time {{comment['time_published']}}

			.comment-content {{comment['content']}}

			.comment-meta
				.comment-rating
					.comment-rating-value {{comment['rating_up']}}

					.comment-rating-up
					.comment-rating-down

				.comment-reply reply

		| {% endfor %}

| {% block comment_scripts %}
script(type="text/javascript", src="{{ url_for('static', filename='assets/js/markdown.min.js') }}")
script(type="text/javascript", src="//cdn.rawgit.com/showdownjs/showdown/1.2.3/dist/showdown.min.js")

script.
	var convert = new Markdown.getSanitizingConverter().makeHtml;

	$(function() {
		var $textarea = $('.comment-reply-field textarea'),
				$container = $('.comment-reply-form'),
				$preview = $('.comment-reply-preview');

		$textarea.keyup(function() {
			$preview.html(convert($textarea.val()));

			if ($textarea.val()) {
				$container.addClass('filled');
			} else {
				$container.removeClass('filled');
			};

		}).trigger('keyup');
	});

	/* Convert markdown for each comment */
	$('.comment-content').each(function(i){
		$(this).html(convert($(this).text()));
	});

	$('.comment-reply').click(function(e){
		e.preventDefault();
		commentForm = $('.comment-reply-container').detach();
		$(this).parent().parent().after(commentForm);
		});

	$('.comment-submit').click(function(e){
		// Collect parent_id
		parent_id = $('#comment_field').data('parent_id');
		$.post("{{url_for('nodes.comments_create')}}",
			// Submit content and parent_id for comment creation
			{'content': $('#comment_field').val(), 'parent_id': parent_id},
			function(data){
				// Append the new comment to the thread
				console.log(data);
		});
	});

| {% endblock %}
