| {% block body %}

#node-container
	a(href="{{node.picture}}")
		section.node-preview.file
			img(src="{{node.picture}}")

	section.node-details-container

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description|safe}}

		.node-details-meta

			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item
					| {{ node._created }}

				li.node-details-meta-list-item.image.download
					a(href="{{node.picture}}")
						button.btn.btn-default(type="button")
							| Download

	section.debug.hidden
		| {{ node.to_dict() }}

| {% endblock %}

