.DS_Store
.project
*.pyc
*.sublime*
*.ropeproject*

config.py

node_modules/
.sass-cache/
*.css.map
pillar-web/application/static/assets/css/main.css
pillar-web/application/static/storage/
pillar-web/application/templates/layout.html
