.DS_Store
.project
*.pyc
*.sublime*
*.ropeproject*

config.py

node_modules/
.sass-cache/
*.css.map
*.js.map

pillar-web/application/static/assets/css/main.css
pillar-web/application/static/assets/js/*.min.js
pillar-web/application/static/storage/
pillar-web/application/static/uploads/

pillar-web/application/templates/layout.html
pillar-web/application/templates/homepage.html
pillar-web/application/templates/join.html
pillar-web/application/templates/stats.html

pillar-web/application/templates/project/
pillar-web/application/templates/blog/

pillar-web/application/templates/nodes/custom/

pillar-web/application/templates/nodes/edit.html
pillar-web/application/templates/nodes/edit_embed.html

