.DS_Store
.project
*.pyc
*.sublime*
*.ropeproject*

config.py

node_modules/
.sass-cache/
*.css.map
attract/application/static/assets/css/main.css
attract/application/static/storage/
attract/application/templates/layout.html
