{% extends 'layout.html' %}
{% from '_macros/_pagination.html' import render_pagination %}
{% from '_macros/_status_label.html' import render_status_label %}
{% from '_macros/_file_uploader_javascript.html' import render_file_uploader_javascript %}

{% block header_items %}
	<link href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}


{% block body %}
<div class="col-md-8">
	<div class="row">
		<div class="col-md-12">
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="shots">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th width="15%"></th>
						<th>Name</th>
						<th>Description</th>
						<th>Animation</th>
						<th>Lighting</th>
						<th>FX Hair</th>
						<th>FX Grass</th>
						<th>FX Smoke</th>
						<th width="8%"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>

	{#
	<div class="row">
		<div class="col-md-6">
			{{ render_pagination(pagination) }}
		</div>
		<div class="col-md-6">
			<span>Showing {{nodes['_meta']['total']}} items</span>
			<a href="{{url_for('nodes.add', node_type_id=node_type['_id'])}}" class="pull-right btn btn-default">Add</a>
		</div>
	</div>
	#}
	<div class="row">
		<div class="col-md-12">
			<a href="{{url_for('nodes.add', node_type_id=node_type['_id'])}}" class="pull-right btn btn-default">Add</a>
		</div>
	</div>
</div>

{% endblock %}

{% block sidebar %}
	<div class="col-md-4" id="shots-sidebar">
		<div id="shot_details_container">
		</div>
		<div id="task_details_container">
		</div>
	</div><!--/end col-md-3 -->
{% endblock %}

{% block footer_scripts %}

	<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>


	<!--<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
-->
	<script type="text/javascript">

		$(document).ready(function(){

			function render_status_options(status) {
				var selected = false;
				var options = []

				statuses = ['in_progress', 'final1', 'final2', 'cbb', 'todo', 'review']
				$.each(statuses, function(key, value) {
					selected = false;
					if (status === value) {
						selected = true;
					};
					option = $("<option />", {
						value: value,
						text: value,
						selected: selected
					});
					options.push(option);
				});
				return options;
			}

			function render_status_label(task, task_name) {
				if (task) {
					switch(task.status) {
						case 'in-progress':
							label_class = 'warning';
							label_text = 'In progress';
							break;
						case 'todo':
							label_class = 'info';
							label_text = 'Todo';
							break;
						case 'done':
							label_class = 'success';
							label_text = 'Done';
							break;
						default:
							label_class = 'default';
							label_text = task.status;
							break
					}
					return tag = '<span task-view-url="' + task.url_view + '" class="load-task-view label label-'+label_class+'">'+label_text+'</span>'
				} else {
					return '<span class="btn btn-default btn-xs task-add" task-name="'+task_name+'">Add</span>';
				}

			}

			var shots_table = $('#shots').DataTable({
				"paging": false,
				"order": [[ 0, "asc" ]],
				"ajax": "/nodes/shots/index.json",
				"columns": [
					{"data": "_id"},
					{"data": "order"},
					{"data": "picture"},					//0
					{"data": "name"},							//1
					{"data": "description"},			//2
					{"data": "tasks.animation"},	//3
					{"data": "tasks.lighting"},		//4
					{"data": "tasks.fx_hair"},		//5
					{"data": "tasks.fx_grass"},		//6
					{"data": "tasks.fx_smoke"},		//7
					{"data": null}								//8
				],
				"columnDefs": [
					{
						"targets": [0, 1],
						"visible": false,
						"searchable": false
					},
					{
						"targets": [2,10],
						"sortable": false
					}
				],
				"rowCallback": function ( row, data, index ) {
					if ( data.picture) {
						var img_tag = '<img alt="' + data.name + '" src="' + data.picture_thumbnail + '" class="table-thumbnail">';
						$('td', row).eq(0).html('<a href="' + data.url_view + '">' + img_tag + '</a>');
					}

					$('td', row).eq(1).html('<a href="' + data.url_view + '">' + data.name + '</a>');
					$('td', row).eq(3).html(render_status_label(data.tasks.animation, 'animation'));
					$('td', row).eq(4).html(render_status_label(data.tasks.lighting, 'lighting'));
					$('td', row).eq(5).html(render_status_label(data.tasks.fx_hair, 'fx_hair'));
					$('td', row).eq(6).html(render_status_label(data.tasks.fx_grass, 'fx_grass'));
					$('td', row).eq(7).html(render_status_label(data.tasks.fx_smoke, 'fx_smoke'));

					var view_tag = '<span class="btn btn-default btn-xs load-shot-view" shot-view-url="' + data.url_view + '"><i class="glyphicon glyphicon-edit"></i> View</span>';
					$('td', row).eq(8).html(view_tag);
				}
			});

		$(document).on("click", ".load-shot-view", function() {
			shot_view_url = $(this).attr('shot-view-url')
			$.get(shot_view_url, function(data) {
				$('#shot_details_container').show();
				$('#shot_details_container').html(data);
				$('#task_details_container').hide();
			});
		});

		$(document).on("click", ".load-task-view", function() {
			task_view_url = $(this).attr('task-view-url')
			$.get(task_view_url, function(data) {
				$('#shot_details_container').hide();
				$('#task_details_container').html(data);
				$('#task_details_container').show();
			});
		});

		$(document).on("click", ".task-add", function() {

			var row = shots_table.row($(this).closest('tr'))
			row_data = row.data();
			task_name = $(this).attr('task-name');
			$.post(
				"{{url_for('nodes.task_add')}}",
				{shot_id: row_data['_id'], task_name: task_name},
				function(node_data) {
					row_data['tasks'][task_name] = {
						'name': task_name,
						'status': 'todo',
						'url_view': '/nodes/' + node_data['_id'] + '/view?embed=1'}
					shots_table.row(row).data(row_data).draw();
			});

		});


		});
	</script>

{% endblock %}
