{% extends 'layout.html' %}
{% from '_macros/_pagination.html' import render_pagination %}
{% from '_macros/_status_label.html' import render_status_label %}

{% block header_items %}
	<link href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css" rel="stylesheet">
{% endblock %}


{% block sidebar %}
{% endblock %}

{% block body %}
<div class="col-md-12">
	<div class="row">
		<div class="col-md-12">
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="shots">
				<thead>
					<tr>
						<th></th>
						<th></th>
						<th width="15%"></th>
						<th>Name</th>
						<th>Description</th>
						<th>Animation</th>
						<th>Lighting</th>
						<th>Simulation</th>
						<th width="8%"></th>
					</tr>
				</thead>
			</table>
			{#
			<table cellpadding="0" cellspacing="0" border="0" class="table table-striped" id="shots_">
				<thead>
					<tr>
						<th width="15%"></th>
						<th>Shot Name</th>
						<th>Description</th>
						<th>Duration</th>
						<th>Status</th>
						<th>Tasks</th>
						<th>Notes</th>
						<th width="8%"></th>
					</tr>
				</thead>
				<tbody>
				{% for shot in nodes._items %}
						<tr id="row_{{shot._id}}">
							<td>
								{% if shot.picture %}
									<a href="{{url_for('nodes.view', node_id=shot._id)}}">
										<img class="table-thumbnail" src="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{shot.picture.path}}" alt="{{shot.name}}">
									</a>
								{% endif %}
							</td>
							<td><a href="{{url_for('nodes.view', node_id=shot._id)}}">{{shot.name}}</a></td>
							<td>
								{% if shot.description %}
									{{shot.description|truncate(25)}}
								{% endif %}
							</td>
							<td>
									{{shot.properties.cut_out - shot.properties.cut_in}}
							</td>
							<td>{{render_status_label(shot.properties.status)}}</td>
							<td></td>
							<td>
								{% if shot.properties.notes %}
									{{shot.properties.notes|truncate(25)}}
								{% endif %}
							</td>
							<td>
								<a class="btn btn-default btn-xs" href="{{url_for('nodes.edit', node_id=shot._id)}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
							</td>
						</tr>
				{% endfor %}
				</tbody>
				<tfoot>
					<tr>
						<th></th>
						<th>Shot Name</th>
						<th>Description</th>
						<th>Duration</th>
						<th>Status</th>
						<th>Tasks</th>
						<th>Notes</th>
						<th></th>
					</tr>
				</tfoot>
			</table>
			#}
		</div>
	</div>

	{#
	<div class="row">
		<div class="col-md-6">
			{{ render_pagination(pagination) }}
		</div>
		<div class="col-md-6">
			<span>Showing {{nodes['_meta']['total']}} items</span>
			<a href="{{url_for('nodes.add', node_type_id=node_type['_id'])}}" class="pull-right btn btn-default">Add</a>
		</div>
	</div>
	#}
</div>

{% endblock %}

{% block footer_scripts %}
	<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>


	<!--<script type="text/javascript" src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.js"></script>
-->
	<script type="text/javascript">
		$(document).ready(function(){

			function render_status_label(status) {
				switch(status) {
					case 'in-progress':
						label_class = 'warning';
						label_text = 'In progress';
						break;
					case 'todo':
						label_class = 'info';
						label_text = 'Todo';
						break;
					case 'done':
						label_class = 'success';
						label_text = 'Done';
						break;
					case null:
						return "";
					default:
						label_class = 'default';
						label_text = status;
						break
				}
				return tag = '<span class="label label-'+label_class+'">'+label_text+'</span>'
			}

			$('#shots').dataTable({
				"paging": false,
				"ajax": "/nodes/shots.json",
				"columns": [
					{"data": "_id"},
					{"data": "order"},
					{"data": "picture"},
					{"data": "name"},
					{"data": "description"},
					{"data": "animation"},
					{"data": "lighting"},
					{"data": "simulation"},
					{"data": null}
				],
				"columnDefs": [
					{
						"targets": [0, 1],
						"visible": false,
						"searchable": false
					},
				],
				"createdRow": function ( row, data, index ) {
					if ( data.picture) {
						var img_tag = '<img alt="' + data.name + '" src="' + data.picture + '" class="table-thumbnail">';
						$('td', row).eq(0).html('<a href="' + data.url_view + '">' + img_tag + '</a>');
					}

					$('td', row).eq(1).html('<a href="' + data.url_view + '">' + data.name + '</a>');
					if (data.animation) {
						$('td', row).eq(3).html(render_status_label(data.animation));
					}

					if (data.lighting) {
						$('td', row).eq(4).html(render_status_label(data.lighting));
					}

					if (data.simulation) {
						$('td', row).eq(5).html(render_status_label(data.simulation));
					}

					var edit_tag = '<a class="btn btn-default btn-xs" href="' + data.url_edit + '"><i class="glyphicon glyphicon-edit"></i> Edit</a>';
					$('td', row).eq(6).html(edit_tag);
				}
			});

		});
	</script>

{% endblock %}
