{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <h2>{{node.name}}</h2>
  <p>{{node.description}}</p>
  <div class="row">
    <div class="col-md-6">
      {% if node.picture %}
        <a href="#" class="picture">
            <img src="/static/pictures/{{node.picture}}" alt="{{node.name}}">
        </a>
      {% else %}
        <p>Picture goes here</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h4>Notes:</h4>
      <p>
        {% if notes %}
          {{notes}}
        {% else %}
          No notes at the moment
        {% endif %}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Duration: {{node.properties.cut_out - node.properties.cut_in}}</p>
      <p>Cut In: {{node.properties.cut_in}}</p>
      <p>Cut Out: {{node.properties.cut_out}}</p>
    </div>
    <div class="col-md-6">
      <p>Status: {{node.properties.status}}</p>
      <p>Tasks:</p>
      <ul>
      {% for child in children %}
      <li><a href="{{url_for('nodes.view', node_id=child['_id'])}}">{{ child['name']}}</a></li>
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-s" href="{{url_for('nodes.edit', node_id=node['_id'])}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    </div>
  </div>
</div>

{% endblock %}
