{% extends 'layout.html' %}
{% from '_comments.html' import render_comments %}
{% from '_macros/_file_uploader.html' import render_file_uploader %}
{% from '_macros/_file_uploader_javascript.html' import render_file_uploader_javascript %}

{% block body %}
<div class="col-md-9">
  <h2>{{node.name}}</h2>
  <p>{{node.description}}</p>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      {% if node.picture_thumbnail %}
        <a href="{{node.picture_thumbnail}}" class="thumbnail">
          <img src="{{node.picture_thumbnail}}" alt="{{node.name}}">
        </a>
      {% else %}
        <img src="http://placehold.it/550x250&text=Preview+Image" style="width: 100%">
      {% endif %}
    </div>
    <div class="col-md-6">
      <div class="well">
        <h4>Notes:</h4>
        <p>
          {% if node.properties.notes %}
            {{node.properties.notes}}
          {% else %}
            No notes at the moment
          {% endif %}
        </p>
      </div>
    </div>
  </div>
  <hr/>
  <div class="row">
    <div class="col-md-6">
      <p>Duration: {{node.properties.cut_out - node.properties.cut_in}}</p>
      <p>Cut In: {{node.properties.cut_in}}</p>
      <p>Cut Out: {{node.properties.cut_out}}</p>
    </div>
    <div class="col-md-6">
      {% if parent %}
      <p>Scene: <a href="{{url_for('nodes.view', node_id=parent._id)}}">{{parent.name}}</a></p>
      {% endif %}
      <p>Status: {{node.properties.status}}</p>
      <p>Tasks:</p>
      <ul>
      {% for child in children %}
      {% if child['node_type_name'] == 'task' %}
      <li><a href="{{url_for('nodes.view', node_id=child['_id'])}}">{{ child['name']}}</a></li>
      {% endif %}
      {% endfor %}
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 col-md-push-10">
      <a class="btn btn-default btn-info btn-block btn-s" href="{{url_for('nodes.edit', node_id=node['_id'])}}"><i class="glyphicon glyphicon-edit"></i> Edit Shot</a>
    </div>
  </div>

  <hr/>

  {{ render_comments(comments, comment_form, node) }}
</div>

{{ render_file_uploader() }}
{% endblock %}

{% block footer_scripts %}
{{render_file_uploader_javascript()}}
{% endblock %}
