| {% block body %}

#node-container

	| {% if node.picture %}
	section.node-preview.image
		img(src="{{ node.picture.thumbnail('l') }}")
	| {% endif %}


	section.node-details-container.image

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description}}

		.node-details-meta

			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.date(title="Created {{ n._updated | pretty_date }}")
					| {{ node._updated | pretty_date }}

				li.node-details-meta-list-item.type
					| {{ node.properties.content_type }}

				li.node-details-meta-list-item.image.length
					| {{ node.file.length | filesizeformat }}

				li.node-details-meta-list-item.image.download
					a(href="{{ node.file.link }}")
						button.btn.btn-default(type="button")
							| Download

		#comments-container
			#comments-list-items-loading
				i.ion-load-c

include ../../_scripts

| {% endblock %}

