| {% block body %}

#node-container
	| {% if node.picture %}
	section.node-preview.image
		img.node-preview-thumbnail(src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}


	section.node-details-container.image

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-meta.header
			ul.node-details-meta-list
				| {% if node.permissions.world %}
				li.node-details-meta-list-item.access.public(
					data-toggle="tooltip",
					data-placement="left",
					title="Anybody can download. Share it!")
					i.pi-lock-open
					span Public
				| {% endif %}

				li.node-details-meta-list-item.type
					| {{ node.file.content_type }}

				li.node-details-meta-list-item.image.length
					| {{ node.file.length | filesizeformat }}

				li.node-details-meta-list-item.image.download
					| {% if node.file.link %}
					a(href="{{ node.file.link }}")
						button.btn.btn-default(type="button")
							| Download Image
					| {% else %}
					a(href="#")
						button.btn.btn-default.disabled(type="button")
							| Download Image
					| {% endif %}


		.node-details-description
			| {{node.description}}

		.node-details-meta.footer
			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.author
					| {{ node.user.full_name }}

				li.node-details-meta-list-item.date(title="Created {{ node._created }}")
					| {{ node._created | pretty_date }}
					| {% if (node._created | pretty_date) != (node._updated | pretty_date) %}
					| (updated {{ node._updated | pretty_date }})
					| {% endif %}


		#comments-container
			#comments-list-items-loading
				i.pi-spin

include ../../_scripts

| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', (location.pathname + '#' + '{{node._id}}'));

	$('[data-toggle="tooltip"]').tooltip({'delay' : {'show': 1250, 'hide': 250}})

	var content_type = $("li.node-details-meta-list-item.type").text();
	$("li.node-details-meta-list-item.type").text(content_type.substring(content_type.indexOf("/") + 1));

	if ($('.node-preview-thumbnail').width() > 750) {
		$('.node-preview, .node-preview-thumbnail').css({'max-height': '100%', 'width': '100%'});
	}
	$('.join-us').click(function() {
		$.get('/403', function(data) {
			$('#node-container').html(data);
			$('#error_container').css('display', 'flex');
		})
	});

| {% endblock %}

