class Development(object):
    SCHEME = 'http'
    HOST = '0.0.0.0'
    PORT = 5001
    DEBUG = True
    SECRET_KEY = ''

    # Uploader settings
    MAX_CONTENT_LENGTH = 10 * 1024 * 1024 * 1024 # In bytes
    ALLOWED_EXTENSIONS = set(['tif', 'tiff', 'exr', 'm4v', 'kra', 'xcf', 'avi',
        'blend', 'zip', 'txt', 'gif', 'png', 'jpg', 'jpeg', 'bmp', 'mov', 'mp4',
        'pdf'])
    IGNORED_FILES = set(['.gitignore'])

    # External APIs entry points
    PILLAR_SERVER_ENDPOINT = 'http://pillar:5000'
    EXTERNAL_SUBSCRIPTIONS_MANAGEMENT_SERVER = ''

    # Local storage settings (SHARED_DIR should match pillar config)
    STORAGE_DIR = '/data/storage/pillar-web/storage'
    UPLOAD_DIR = '/data/storage/pillar-web/uploads'
    SHARED_DIR = '/data/storage/shared'

    # Project used for main blog and frontpage
    MAIN_PROJECT_ID = ''

    BUGSNAG_API_KEY = ''

    CACHE_TYPE = 'redis' #null
    CACHE_KEY_PREFIX = 'pw'
    CACHE_REDIS_HOST = 'redis_pillar_web'
    CACHE_REDIS_PORT = '6379'
    CACHE_REDIS_URL = 'redis://redis_pillar_web:6379'

    FLOWPLAYER_KEY = ''

    ALGOLIA_USER = ''
    ALGOLIA_PUBLIC_KEY = ''
    ALGOLIA_INDEX_USERS = 'dev_Users'

    GOOGLE_ANALYTICS_TRACKING_ID = ''

    SOCIAL_BLENDER_ID = {
        'app_id': '',
        'app_secret': ''
    }
    BLENDER_ID_BASE_URL = 'https://www.blender.org/id/'
    BLENDER_ID_OAUTH_URL = BLENDER_ID_BASE_URL + 'api/'
    BLENDER_ID_BASE_ACCESS_TOKEN_URL = BLENDER_ID_BASE_URL + 'oauth/token'
    BLENDER_ID_AUTHORIZE_URL = BLENDER_ID_BASE_URL + 'oauth/authorize'
