#blog_container
	margin: 0 auto 15px auto
	display: flex
	justify-content: center

	&.post-create
		flex-direction: row-reverse

	#blog_index-container,
	#blog_post-container
		+container-box
		width: 75%
		padding: 25px

		+media-xs
			width: 100%
			clear: both
			display: block
		+media-sm
			width: 60%
		+media-md
			width: 65%
		+media-lg
			width: 75%

		.blog_index-item
			margin: 0 auto 15px auto

			.item-title
				display: block
				font:
					family: $font-headings
					size: 2.2em
					weight: 300
				padding: 5px 0

			.item-info
				color: $color-text-dark-secondary
				font-size: .9em

			.item-content
				padding: 25px 0 35px 0
				color: $color-text-dark
				font:
					family: $font-body
					size: 1.3em
					weight: 300

				p
					padding-bottom: 10px

		.button-create
			float: right
			+button-rounded($color-success, 6px)
			margin: 0 0 20px 0

		#comments-container
			padding:
				left: 0
				right: 0


	#blog_post-edit-form
		padding: 0

		.form-group
			label
				text-transform: capitalize
		.form-group.content
			.form-control
				min-height: 350px
		.form-group.picture
			+text-overflow-ellipsis



#blog_post-edit-title
	padding: 0
	font:
		family: $font-headings
		size: 2.2em
		weight: 300
	margin: 0 20px 0 0

#blog_index-sidebar
	width: 25%
	padding: 0 15px

	+media-xs
		width: 100%
		clear: both
		display: block
	+media-sm
		width: 40%
	+media-md
		width: 35%
	+media-lg
		width: 25%

	.button-create
		display: block
		width: 100%
		+button-rounded($color-success, 6px)
		margin: 0

	#blog_post-edit-form
		.form-group
			.form-control
				background-color: white

	.blog_index-sidebar,
	.blog_project-sidebar
		+container-box
		background-color: lighten($color-background, 5%)
		padding: 20px

	.blog_project-card
		position: relative
		width: 100%
		border-radius: 3px
		overflow: hidden
		background-color: white
		color: lighten($color-text, 10%)
		box-shadow: 0 0 30px rgba(black, .2)

		margin:
			top: 0
			bottom: 15px
			left: auto
			right: auto


		a.item-header
			position: relative
			width: 100%
			height: 100px
			display: block
			background-size: 100% 100%

			overflow: hidden

			.overlay
				z-index: 1
				width: 100%
				height: 100px
				@include overlay(transparent, 0%, white, 100%)


			img.background
				width: 100%
				filter: blur(5px)
				transform: scale(1.4)

		.card-thumbnail
			position: absolute
			z-index: 2
			height: 90px
			width: 90px
			display: block
			top: 35px
			left: 50%
			transform: translateX(-50%)
			background-color: white
			border-radius: 3px
			overflow: hidden

			&:hover
				img.thumb
					opacity: .9

			img.thumb
				width: 100%
				border-radius: 3px
				transition: opacity 150ms ease-in-out
				+position-center-translate


		.item-info
			padding: 10px 20px
			background-color: white
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px

			a.item-title
				display: inline-block
				width: 100%
				padding: 30px 0 15px 0
				color: $color-text-dark
				text-align: center
				font:
					size: 1.6em
					family: $font-headings
					weight: 300

				transition: color 150ms ease-in-out

				&:hover
					text-decoration: none
					color: $color-primary
