#comments-container
	margin-top: 15px
	padding: 15px 25px

	border-top: 1px solid $color-background

	#comments-header
		h3
			padding: 15px 0 0
			margin: 0

			span
				padding-left: 5px
				font-size: .9em
				color: $color-text-dark-secondary

	#comments-list
		/* Each comment on the list*/
		.comment-container,
		.comment-reply-container
			display: flex
			flex-direction: column

			padding: 25px 0

			/* Header containing author, time, and badges if any*/
			.comment-header
				display: flex
				align-items: center

				.comment-avatar
					padding-right: 10px

					img
						border-radius: 3px
						width: 20px
						height: 20px

				.comment-author
					position: relative
					top: 1px
					color: $color-text-dark
					font:
						weight: 600

				.comment-time
					padding-left: 10px
					margin-left: 10px
					color: $color-text-dark-hint

					&:before
						content: '·'
						position: relative
						left: -10px
						font-weight: 600

			/* The actual comment body. */
			/* Here we style both the preview comment and posted comments */
			.comment-content,
			.comment-reply-form
				padding: 10px 0 0 30px
				color: $color-text-dark-primary
				line-height: 1.5em

				h1, h2, h3, h4, h5, h6
					font-weight: 500

				blockquote
					font-size: 1em
					color: $color-text-dark-secondary

			/* Rating, and actions such as reply */
			.comment-meta
				display: flex
				align-items: center
				padding: 5px 0 0 30px
				color: $color-text-dark-secondary

				/* Small container for rating buttons and value */
				.comment-rating
					display: flex
					align-items: center

					.comment-rating-value
						padding-right: 15px

					.comment-rating-up,
					.comment-rating-down
						font-family: 'FontAwesome'
						height: 25px
						width: 25px
						cursor: pointer

						&:hover
							color: $color-text-dark

					.comment-rating-up:before
						content: '\f106'

					.comment-rating-down:before
						content: '\f107'

				/* Reply button */
				.comment-reply
					padding-left: 10px
					color: $color-text-dark-hint

					&:before
						content: '·'
						position: relative
						left: -10px
						font-weight: 600

			.comment-badge
				display: inline-block
				border: 1px solid $color-text-dark-hint
				color: $color-text-dark-hint
				padding: 1px 4px
				margin: 0 5px 0 15px
				border-radius: 3px
				font:
					size: .7em
					weight: 400
				text-transform: uppercase

				&.badge-team
					border-color: $color-info
					color: $color-info

			&.is-reply
				margin-left: 30px
				padding:
					top: 0
					left: 15px
				border-left: 2px solid lighten($color-text-dark-hint, 20%)


			&.is-team
				.comment-author
					color: $color-info


		.comment-reply-container
			// It's flex, like the others, but different direction
			flex-direction: row

			/* Little gravatar icon on the left */
			.comment-reply-avatar
				img
					border-radius: 3px
					width: 20px
					height: 20px

			/* textarea field, submit button and reply details */
			.comment-reply-form
				width: 100%
				padding:
					top: 0
					left: 10px

				.comment-reply-field
					position: relative

					textarea
						width: 100%
						height: 45px

						line-height: 1.5em
						border: 1px solid darken($color-background, 10%)
						border-radius: 3px
						margin: 0 auto 5px auto
						padding: 10px
						color: $color-text-dark

						transition: all 300ms ease-in-out


						&:focus
							border: 1px solid $color-success
							outline: none

					.comment-reply-preview
						margin: 0 auto 5px auto
						padding: 5px 10px 10px 10px
						color: $color-text-dark-primary
						transition: all 150ms ease-in-out

						&:after
							content: 'Live Preview'
							// white-space: pre
							position: absolute
							bottom: -33px
							font-size: .9em
							color: $color-text-dark-hint
							transition: color 150ms ease-in-out

					.comment-reply-preview:empty
						color: transparent
						margin: 0 auto
						padding: 0 10px

						&:after
							content: ''
							color: transparent

				.comment-reply-meta
					display: flex
					align-items: center

					.comment-details
						opacity: 0
						font-size: .9em

						display: flex
						align-items: center
						justify-content: flex-end
						width: 100%

						transition: opacity 300ms ease-in-out


						.comment-author
							padding:
								right: 15px
							color: $color-text-dark
							font:
								weight: 300

							.author-name
								padding-left: 3px
								font:
									weight: 600

						.comment-rules
							padding-right: 10px
							margin-right: 10px
							&:after
								content: "·"
								position: relative
								right: -10px

							a
								color: $color-text-dark-hint


					button.comment-submit
						margin-left: auto
						+button-rounded

						color: $color-success
						border-color: $color-success

				&.filled
					.comment-reply-field
						textarea
							height: 120px
					.comment-reply-meta
						.comment-details
							opacity: 1

// @import plugins/_ckeditor
