
#homepage
	display: flex
	flex-direction: column
	justify-content: space-around
	align-items: stretch
	align-content: center

	&.page-content
		+container-behavior

	#header
		height: 550px

		background:
			size: 100% 100%
			repeat: no-repeat


		.text
			padding: 15px 15px 0 15px
			width: 100%
			height: 100%
			// background-color: rgba(black, .5)
			border-radius: 3px
			color: white

			text-shadow: 1px 1px 1px rgba(black,.9), 0 0 30px rgba(black,.7)

			display: flex
			flex-direction: column
			justify-content: center
			align-items: center

			.title
				padding-bottom: 25px
				font:
					family: $font-headings
					size: 3.5em
					weight: 400

			.lead
				text-align: center
				max-width: 780px
				font:
					size: 1.6em
					weight: 400

			.buttons
				display: flex
				justify-content: space-around
				margin: 25px auto

				width: 100%
				max-width: 450px

				a
					min-width: 200px
					font-size: 1.2em
					padding: 10px 25px


					@include button-rounded($color-text-light)
					opacity: 1

					&.get-started
						@include button-rounded-filled($color-primary)

						opacity: 1

	#content
		display: flex
		justify-content: space-around
		align-items: stretch
		margin-bottom: 15px

		#sidebar, #updates
			+container-box

		#sidebar
			width: 25%
			background-color: white
			margin: 0 5px 10px 5px

			#join
				text-align: center
				padding: 0 15px
				color: $color-info

				/* Price '$10 per month' */
				#price
					position: relative
					left: -5px

					span.amount
						margin: 0
						padding: 0

						display: flex
						justify-content: center
						align-items: center

						font:
							family: $font-headings
							size: 6em
							weight: 600

						small
							font:
								size: .5em
								weight: 300

					span.per
						position: relative
						top: -10px
						left: 10px

						font:
							size: 1em

						small
							font-size: .5em

				/* Subscribe button */
				a#subscribe
					display: block
					width: 100%
					font:
						size: 1.3em
						family: $font-headings
					padding: 5px 0
					margin: 15px 0 10px 0

					border-radius: 999em
					background-color: $color-info
					color: white
					border: 1px solid transparent
					transition: background-color 150ms ease-in-out

					&:hover
						border-color: $color-info
						background-color: transparent
						color: $color-info
						text-decoration: none

				span.extra
					display: block
					margin: 15px auto
					font:
						family: $font-headings
						size: .75em
						weight: 400

			#stats
				padding-top: 15px
				margin-top: 15px
				border-top: thin solid lighten($color-text, 60%)
				text-align: center

				span.amount
					color: $color-text-dark-secondary
					font:
						family: $font-headings
						size: 4em
						weight: 400

				span.what
					display: block
					font:
						size: 1.3em
						weight: 300

			#goals
				padding: 0 15px

				.milestone-item
					padding: 15px 0

					&:first-of-type
						margin-top: 15px

					&:not(:last-of-type)
						border-bottom: thin solid lighten($color-text, 60%)

					.milestone-item-title
						font:
							size: 1.3em


					.milestone-item-content
						color: lighten($color-text, 5%)

			section#updates
				padding: 15px

				.section-title
					margin: 0 0 15px 0

				.update-list-item
					padding: 20px 0
					font:
						family: $font-body

					&:first-of-type
						border-top: thin solid $color-background

					.update-list-item-title
						display: flex
						align-items: center
						margin: 0 0 10px 0

						h4
							color: lighten($color-text, 10%)
							margin: 0
							font:
								size: 1.4em
								family: $font-body
								weight: 400

					.update-list-item-when
						font-size: .8em
						color: $color-text-dark-secondary
						padding-left: 10px

					.update-list-item-content
						color: lighten($color-text, 10%)



.homepage.navbar-backdrop
	width: 105%
	left: 0
	// filter: blur(10px)
	filter: blur(0)
	max-height: 800px

.homepage.navbar-backdrop-overlay
	height: 800px
	top: -40px
	// background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 0) 25%, rgba(black,.6) 90%, rgba(black,.5) 100%)
	background: linear-gradient(to bottom, rgba(black, .5) 0%, rgba(black, .3) 40%, rgba(black, .4) 70%, rgba($color-background,.6) 90%, $color-background 100%)

section#homepage.links
	height: initial
	padding: 0
	margin-bottom: 45px

	display: flex
	flex-direction: column
	align-items: stretch

	#links-container
		display: flex
		justify-content: space-around
		align-items: stretch
		margin: 0

		+media-sm
			margin: 0
		+media-sm
			margin: 0 10px
		+media-md
			margin: 0 20px
		+media-lg
			margin: 0

		.links-item
			width: 100%
			height: 100%
			margin: 0 10px
			border-radius: 3px
			color: white
			background-color: $color-background-nav
			box-shadow: 0 0 15px rgba(black, .1)

			text-align: center
			overflow: hidden

			position: relative

			&:hover, &:active, &:focus
				text-decoration: none

				img.header
					opacity: .9

			img.header
				opacity: 1
				z-index: 0
				// transform: scale(1.2)
				// filter: blur(4px)

				border-top-left-radius: 3px
				border-top-right-radius: 3px
				width: 100%
				position: relative
				top: 0
				left: 0
				right: 0
				bottom: 0
				transition: opacity 100ms ease-in-out

			.title
				display: block
				width: 100%
				position: relative

				padding: 10px 5px

				font:
					family: $font-headings
					size: 1.5em
					weight: 400

			.content
				color: $color-text-light
				padding: 0 30px 10px

			span.bar
				height: 4px
				width: 100%
				display: block
				background-color: $color-background-dark

			&.open_projects
				.title
					color: $color-open_projects
				span.bar
					background-color: $color-open_projects

			&.training
				.title
					color: $color-training
				span.bar
					background-color: $color-training

			&.upnext
				.title
					color: $color-upvote
				span.bar
					background-color: $color-upvote


section#homepage.bullets,
section#homepage.supported-by
	padding: 80px 0
	border-top: 5px solid $color-background-dark
	background-color: white

	h1
		text-align: center
		font-size: 2.8em
		margin:
			top: 0
			bottom: 30px
		padding: 0
		color: $color-danger

	.bullets-list
		display: flex
		justify-content: space-around

		flex-flow: row wrap
		+container-behavior

		.bullets-list-item
			padding: 10px 25px
			width: 25%
			float: left
			margin: 10px auto
			cursor: default

			line-height: 1.6em
			color: $color-background-nav
			text-align: center

			font:
				size: 1.1em
				weight: 300


			&-title
				padding: 0 0 10px 0
				color: $color-danger
				font:
					weight: 400
					size: 1.2em

			&-icon
				margin: 25px auto
				text-align: center
				color: $color-info
				font:
					size: 3.6em

section#homepage.supported-by
	background-color: $color-background
	padding: 50px 0


	display: flex
	align-items: center
	justify-content: center

	h1
		margin-bottom: 0
		color: $color-info

	img.logos
		padding: 60px 0 100px 0


section#homepage.get-started
	background-color: $color-background-nav
	color: white

	display: flex
	align-items: center
	justify-content: center

	min-height: 500px

	h2
		font-size: 2em
		margin: 15px auto 50px

	.notes
		font-size: .8em
		padding: 60px 0 0 0
		color: lighten($color-background-nav, 20%)

	a.get-started
		@include button-rounded-filled($color-primary)

		padding: 15px 50px
		font-size: 1.5em

