$project_nav-width: 240px
$project_header-height: 50px
$project_footer-height: 30px

$list-node-children-item-width: 160px

/* Child of container, contains project-flex */
#project_container
	z-index: 12
	margin: 0 auto
	border-radius: 0

	+container-behavior

	+media-lg
		padding-bottom: 15px
		border-radius: 3px

/* Flexible. Child of project_container, contains the nav tree + side views */
#project-flex
	position: relative
	display: flex
	// align-items: stretch
	width: 100%
	/* So we have *some* page scroll, inside it uses perfectscrollbar */
	overflow: hidden
	min-height: 600px

#project-nav,
#project_context-container
	flex: 1

/* Container for navigation on the left */
#project_nav
	position: relative
	overflow: hidden
	width: $project_nav-width
	padding: auto 0
	margin-bottom: $project_footer-height
	position: relative

	color: white
	background-color: rgba($color-background-nav, .9)
	border-right: thick solid lighten($color-background-nav, 10%)

	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none

	+media-lg
		// border-bottom-left-radius: 3px

	&.project_nav-collapsed
		width: 35px
		border-color: darken($color-background, 75%)
		background-color: darken($color-background, 65%)

/* Header with name, breadcrumbs and node edit tools */
#project-header,
#project_nav-footer
	display: flex
	align-items: center

	position: relative
	background-color: $color-background-nav
	color: white

#project_nav-footer
	height: $project_footer-height
	width: $project_nav-width

	position: absolute
	left: 0
	bottom: 0

	+media-lg
		border-bottom-left-radius: 3px

#project-header
	height: $project_header-height
	width: 100%
	clear: both
	+media-lg
		border-top-left-radius: 3px
		border-top-right-radius: 3px

	ul.breadcrumb
		position: relative
		padding: 0
		margin: 0 0 0 10px
		background-color: transparent
		display: inline-block
		font-weight: 300

		li
			margin: 0
			padding: 2px
			float: left

			a
				color: lighten($color-text, 60%)

		/* Kinda special, we want to highlight the current project*/
		.project-title
			font-weight: 500
			a
				color: white

		/* The > separating each breadcrumb */
		li+li:before
			color: lighten($color-text, 15%)
			content: '\f105'
			font:
				family: 'FontAwesome'

		&:before
			position: absolute
			left: -13px
			top: 2px

	ul.project-edit-tools
		align-self: flex-end
		display: flex
		align-items: center
		height: 100%
		padding: 0
		margin:
			top: 0
			left: auto
			right: 5px
			bottom: 0
		color: $color-text-dark-hint

		list-style-type: none

		font-size: .9em

		a
			color: $color-text-light-primary

			&:hover
				color: $color-text-light


			li
				margin: 5px
				padding: 5px 15px
				float: left
				border-radius: 3px
				border: thin solid darken($color-background, 50%)

				text-align: center
				text-transform: uppercase

				transition: background-color 150ms ease-in-out

				i
					margin-right: 5px

				&:hover
					background-color: darken($color-background, 60%)

				&.button-save
					border-color: $color-success
					background-color: $color-success
					color: white

			&#item_save,
			&#item_cancel
				display: none

				i
					font-size: 1em

			&#item_add,
			&#item_edit
				li
					min-width: 80px

					i
						margin-right: 10px

			&#item_delete
				li i
					margin-right: 0
			// &:not(:last-of-type)
				// border-right: thin solid darken($color-background, 50%)

	#project-loading
		position: relative
		color: $color-text-light-primary
		left: 15px
		display: none

		i
			+spin
			position: relative
			top: 2px


.project_nav-collapse-btn,
.project_nav-expand-btn
	display: none // Toggles via project-split-bar.js
	cursor: pointer
	color: $color-text-light-hint
	z-index: 1

	&:hover
		color: $color-text-light-secondary

	i
		font-size: 1.3em

.project_nav-collapse-btn
	position: absolute
	bottom: 0
	left: 0
	padding: 5px 10px

.project_nav-expand-btn
	float: left
	padding-left: 12px

	i
		position: relative
		top: 1px

#project_context
	display: flex
	flex-direction: column
	flex: 1

#node-container
	flex: 1
	display: flex
	align-items: stretch
	flex-direction: column


/* Project context on the right of the navigation */
/* Contains #project_context */
#project_context-container
	position: relative
	display: flex

	flex-direction: column
	// background-color: white

	+media-lg
		border-bottom-right-radius: 3px

	iframe#server_error
		width: 100%
		min-height: 800px
		border: none


/* The actual navigation tree container */
#project_tree
	padding: 5px 0 // some padding on top and bottom of jstree

/* Clickable bar between navtree and context view, to collapse tree */
.project_split
	float: right
	position: absolute
	width: 16px
	margin-left: -8px
	top: 0 // $project_header-height
	bottom: 0
	z-index: 10
	cursor: w-resize
	-webkit-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	-o-user-select: none
	user-select: none


/* Node Context */
=project-node-title
	font:
		family: $font-headings
		size: 2em
		weight: 300

section.node-preview
	&.image,
	&.file,
		max-height: 500px
		background-color: $color-background-nav

		+media-sm
			max-height: 300px
		+media-md
			max-height: 420px
		+media-lg
			max-height: 500px

		img
			display: block
			max-width: 100%
			max-height: 500px
			margin: 0 auto

			+media-sm
				max-height: 300px
			+media-md
				max-height: 420px
			+media-lg
				max-height: 500px

	&.video
		background-color: black

	&.group, &.project
		background-color: rgba($color-background-nav, .9)
		position: relative
		overflow: hidden

		.backdrop
			width: 100%
			z-index: 0

		.overlay
			@include overlay(transparent, 80%, rgba(black, .5), 100%)
			width: 100%
			height: 100%
			z-index: 2


		.node-title
			+project-node-title
			position: absolute
			z-index: 2
			color: white
			left: 20px
			bottom: 10px
			font-size: 2.5em
			text-shadow: 1px 1px 1px rgba(black, .5)

	&.group
		height: 100px

		.backdrop
			opacity: .25
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)



section.node-details-container
	background-color: white

	.node-details-header
		display: flex
		align-items: baseline
		min-height: 50px
		padding: 15px 20px 5px 20px
		+clearfix

		.node-title
			+project-node-title

		.node-title-details
			margin-left: auto
			line-height: 1em

			& .date
				display: inline-block
				margin-right: 10px
				color: $color-text-dark-secondary

			& .status
				display: inline-block
				font-size: .9em
				text-transform: capitalize
				color: $color-text-dark-primary
				padding: 5px 15px
				border: thin solid $color-text-dark-hint
				border-radius: 3px
				cursor: default


	.node-details-description
		padding: 5px 20px 25px 20px
		color: $color-text-dark
		font:
			family: $font-body
			weight: 300
			size: 1.1em

	&.group, &.project
		.node-details-description
			padding: 15px 20px 25px 20px
			max-width: 70%


	&.group
		.node-details-description
			padding: 15px 20px 5px 20px

	.node-extra
		display: flex
		flex-direction: row
		align-items: stretch

		padding: 0 20px
		width: 100%

		.node-featured, .node-updates
			flex: 1

			ul
				padding: 0
				margin: 0 0 25px 0
				+clearfix

				li
					list-style: none
					padding: 10px 0
					border:
						top: thin solid $color-background

					+clearfix

					&:first-of-type
						border: none

					.image
						max-width: 60px
						float: left
						margin: 0 20px 0px 0
						transition: opacity 150ms ease-in-out

						img
							width: 100%
							border-radius: 3px

						&:hover
							opacity: .8

					.info
						width: 100%
						float: left

						a.title
							display: block
							font-size: 1.2em
							+clearfix

						span.details
							width: 100%
							display: block
							font-size: .9em
							padding: 5px 0
							color: $color-text-dark-secondary
							+clearfix

							.who
								margin-left: 3px
								font-weight: 500

				&.node-updates-list
					padding-right: 25px

				&.node-featured-list

					li
						width: 50%
						float: left
						border: none
						padding-right: 20px

						.image
							max-width: 100%
							width: 100%
							min-height: 80px
							overflow: hidden
							position: relative

							img
								position: absolute
								width: 100%
								top: 50%
								left: 50%
								transform: translate(-50%, -50%)

						.info
							padding: 5px 10px 0 0

							a.title
								font-size: 1em
							span.details
								width: 100%
								+text-overflow-ellipsis

								.who
									font-weight: 400
									margin-left: 0
									+text-overflow-ellipsis

									span
										+text-overflow-ellipsis
										font-weight: 500
										margin-left: 3px

	.node-details-meta
		font-weight: 300
		padding: 15px 20px

		ul.node-details-meta-list
			display: flex
			align-items: center

			list-style-type: none
			margin: 0
			padding: 0

			li.node-details-meta-list-item
				margin: 0
				padding: 0 10px 0 0
				line-height: 1em
				float: left

				&.date
					color: $color-text-dark-primary

				&.status
					margin-right: 10px
					font-size: .9em
					text-transform: capitalize
					color: $color-text-dark-primary
					padding: 5px 15px
					border: thin solid $color-text-dark-hint
					border-radius: 3px
					cursor: default

				&.length
					margin-left: auto
					padding: 0 5px 0 15px
					cursor: default
					font-weight: 400
					color: $color-text-dark-hint

				/* Download button */
				&.download
					align-self: flex-end
					// margin-left: auto
					padding: 0 0 0 15px

					&.video, &.image
						margin-left: auto


					/* Actual button */
					button
						@include button-rounded($color-text-dark-primary)
						position: relative

						padding:
							left: 25px
							right: 25px

						font-size: .9em

						/* Tweaks for specific icons */
						i.icon-dropdown-menu
							padding-left: 10px

					/* Videos have dropdown caret, so paddit 5px less */
					&.video.download
						button
							padding-right: 20px

					/* Download dropdown options */
					ul.dropdown-menu
						width: auto
						min-width: 240px
						padding: 0
						margin: 0
						top: initial
						left: initial
						right: 0
						bottom: 35px
						border: thin solid rgba(darken($color-background, 5%), .3)
						border-top-left-radius: 3px
						border-top-right-radius: 3px
						border-bottom-left-radius: 0
						border-bottom-right-radius: 0

						li
							padding: 0
							text-align: right
							clear: both
							display: flex
							align-items: center

							a
								padding: 10px 15px
								width: 100%

								&:hover
									color: $color-primary
									background-color: transparent

								span
									&.length
										float: left
										color: $color-text-dark-hint
										padding-right: 15px
									&.format
										text-transform: uppercase
										align-self: flex-end
										margin-left: auto
									&.size
										display: inline-block
										padding-left: 15px
					&.open
						button
							box-shadow: none

section.node-children
	background-color: white

	&.group
		flex: 1
		padding: 10px 0 25px 20px

		+clearfix


.list-node-children-item
	float: left
	margin: 10px 15px 10px 0
	border-radius: 3px

	color: $color-background-nav
	background-color: darken(white, 6%)

	box-shadow: 2px 2px 0 rgba(darken($color-background, 60%), .1)
	width: $list-node-children-item-width
	overflow: hidden
	text-overflow: ellipsis
	transition: opacity .1s ease-in-out

	&:hover
		opacity: .9
		color: darken($color-primary, 20%)

	& .list-node-children-item-thumbnail
		display: flex
		align-items: center
		justify-content: center

		width: $list-node-children-item-width
		height: $list-node-children-item-width
		background-color: lighten($color-background-nav, 50%)
		position: relative

		img
			width: $list-node-children-item-width

		& .list-node-children-item-thumbnail-icon
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			font-size: 4em
			color: $color-text-light-hint

	& .list-node-children-item-name
		z-index: 1
		position: relative

		display: flex
		align-items: center

		background-color: darken(white, 6%)

		padding:
			top: 5px
			bottom: 5px
		font-size: .9em
		width: $list-node-children-item-width
		max-width: $list-node-children-item-width

		i
			color: $color-text-dark-secondary
			padding:
				left: 10px
				right: 3px
			font-size: .9em

		span
			padding:
				left: 5px
				right: 3px
			+text-overflow-ellipsis



#node_index-container

	border-radius: 3px

	#node_index-header
		display: flex
		align-items: center

		position: relative
		width: 100%
		color: white

		border-top-left-radius: 3px
		border-top-right-radius: 3px

		#node_index-user-avatar
			padding: 15px

			img
				border-radius: 3px

		#node_index-user-info
			.node_index-user-name
				font:
					family: $font-headings
					size: 2.2em
					weight: 300

			.node_index-user-description
				color: lighten($color-text, 60%)
				font-weight: 300

	#node_index-list-container,

		background-color: white
		width: 100%
		height: 100%
		padding: 0
		margin: 0
		position: relative

		+clearfix

		.node_index-list,
		.node_index-collection
			padding: 15px 0 0 0
			margin: 0
			clear: both

			/* Block for each project item */
			& .node_index-list-item
				display: flex
				max-width: 70%
				padding: 0
				margin:
					left: 15px
					bottom: 30px

				clear: both

				&:after
					// Basically same as .clearfix from bootstrap
					clear: both
					display: block
					content: ' '

				& .item-info
					width: 100%
					padding: 0 15px

				& .item-title
					padding-bottom: 15px
					font:
						family: $font-headings
						size: 1.8em
						weight: 400

				& .item-image
					padding-top: 5px
					img
						width: 90px
						height: 90px
						border-radius: 3px

#node_index-collection-container
	background-color: $color-background-nav
	height: 100%
	width: 100%
	padding: 15px
	margin: 0 auto
	+clearfix

	+media-lg
		border-radius: 3px

.node_index-collection
	// display: flex
	// flex-flow: row wrap
	// justify-content: flex-start

	.node_index-collection-card-container
		width: 33.33%
		float: left
		text-align: center

		+media-lg
			width: 33.33%

		+media-md
			width: 33.33%

		+media-sm
			width: 50%

		+media-xs
			width: 100%

	& .node_index-collection-card
		position: relative
		width: 92%
		border-radius: 3px
		overflow: hidden
		background-color: white
		color: lighten($color-text, 10%)
		box-shadow: 0 0 30px rgba(black, .2)

		margin:
			top: 15px
			bottom: 15px
			left: auto
			right: auto


		a.item-header
			position: relative
			width: 100%
			height: 100px
			display: block
			background-size: 100% 100%

			overflow: hidden

			.overlay
				width: 100%
				height: 100px
				@include overlay(transparent, 0%, rgba(black, .6), 100%)


			img.background
				width: 100%

		.card-thumbnail

			position: absolute
			height: 90px
			width: 90px
			display: block
			top: 35px
			left: 50%
			transform: translateX(-50%)
			background-color: white
			border-radius: 3px
			overflow: hidden
			padding: 3px

			&:hover
				img.thumb
					opacity: .9

			img.thumb
				width: 100%
				border-radius: 3px
				transition: opacity 150ms ease-in-out


		.item-info
			padding: 10px 20px
			background-color: white
			border-bottom-left-radius: 3px
			border-bottom-right-radius: 3px

			a.item-title
				display: inline-block
				width: 100%
				padding: 30px 0 15px 0
				color: $color-text-dark
				text-align: center
				font:
					size: 1.6em
					family: $font-headings
					weight: 300

				transition: color 150ms ease-in-out

				&:hover
					text-decoration: none
					color: $color-primary


#node-edit-container
	#node-edit-header
		background-color: rgba($color-background-nav, .9)
		padding: 20px 20px 10px 20px
		height: 100px
		position: relative

		.node-edit-title
			position: absolute
			bottom: 10px
			left: 20px
			+project-node-title
			font-size: 2.5em
			color: white


	#node-edit-form
		background-color: white
		padding: 20px

		.form-group
			font-family: $font-body

			input, textarea, select
				color: $color-text-dark
				box-shadow: none
				font-family: $font-body
				border-radius: 3px
				border-color: $color-background-dark
				background-color: $color-background-light

				&:focus
					border-color: $color-info
					box-shadow: none

				&#fileupload
					color: $color-info

			select
				text-transform: capitalize



		.form-group
			position: relative
			margin: 0 auto 30px auto

			label
				color: $color-text-dark
				font-family: $font-body
				font-weight: 300

		.form-group.picture
			.picture-progress-bar
				margin-top: 5px
				background-color: $color-success
				height: 5px
				min-width: 0
				border-radius: 3px

		.form-group.description
			position: relative

			textarea
				width: 100%
				min-height: 100px

				line-height: 1.5em
				border: 1px solid $color-background-dark
				border-radius: 3px
				margin: 0 auto 10px auto
				padding: 10px
				color: $color-text-dark

				transition: all 300ms ease-in-out


				&:focus
					border: 1px solid $color-info
					outline: none

				&.field-error
					border-color: $color-danger

			.node-edit-form-md-preview
				border-top: 1px solid $color-background
				border-bottom: 1px solid $color-background
				position: relative
				margin: 40px auto 25px auto
				padding: 10px 10px 25px 10px
				color: $color-text-dark-primary
				cursor: default
				transition: all 150ms ease-in-out

				&:before
					content: 'Live Preview:'
					position: absolute
					top: -25px
					font-size: .9em
					color: $color-text-dark-secondary
					transition: color 150ms ease-in-out

				&:after
					content: 'Markdown Supported'
					position: absolute
					top: -25px
					right: 0
					font-size: .9em
					color: $color-text-dark-hint
					transition: color 150ms ease-in-out

			.node-edit-form-md-preview:empty
				color: transparent
				margin: 0 auto
				padding: 0 10px

				&:before
					content: ''
					color: transparent


		#node-edit-form-md-preview
			padding: 20px

.debug
	font:
		family: monospace
		size: .9em
	padding: 10px 15px

@import plugins/_flowplayer
