#login-container,
#profile-container
	width: 60%
	margin: 40px auto
	padding: 15px 35px 25px 35px

	+container-box

	.login-title,
	.profile-title
		text-align: center
		color: $color-primary
		font:
			family: $font-headings
			size: 2.2em
			weight: 300

		padding: 15px 0

	.login-info
		font:
			weight: 300

		color: $color-text-dark-primary
		text-align: center
		padding-bottom: 25px

	.buttons
		display: flex
		margin: 35px auto 35px auto
		width: 100%
		align-items: center
		justify-content: center

		.login-button-container
			margin: 0 25px
			text-align: center
			position: relative

			a.forgot
				width: 100%
				position: absolute
				bottom: -25px
				left: 50%
				transform: translateX(-50%)
				display: block
				font-size: .8em
				color: $color-text-dark-secondary

		.button-login,
		.button-submit
			min-width: 200px
			@include button-rounded-filled($color-primary, 999em)

		.button-register
			min-width: 150px
			@include button-rounded($color-primary, 999em)

#profile-container
	#profile-form
		width: 100%
	.profile-form
		display: flex
		align-items: center
		justify-content: center

		.left, .right
			padding: 25px 0

		.left
			width: 60%
			float: left

		.right
			width: 40%
			float: right
			text-align: center

		.profile-avatar
			img
				border-radius: 999em
			span
				display: block
				padding: 15px 0
				font:
					size: .9em

		.profile-password
			color: $color-text-dark-primary

