#login-container,
#profile-container
	width: 60%
	margin: 40px auto
	padding: 15px 35px 25px 35px

	+container-box

	.login-title,
	.profile-title
		text-align: center
		color: $color-primary
		font:
			family: $font-headings
			size: 2.2em
			weight: 300

		padding: 15px 0


	.buttons
		display: flex
		margin: 35px auto 35px auto
		width: 100%
		align-items: center
		justify-content: center

		.lead-register
			margin: 0 25px
			text-align: center
			position: relative

			a.forgot
				width: 100%
				position: absolute
				bottom: -25px
				left: 50%
				transform: translateX(-50%)
				display: block
				font-size: .8em
				color: $color-text-dark-secondary

		.button-login,
		.button-submit
			min-width: 200px
			@include button-rounded-filled($color-primary, 999em)

		.button-register
			min-width: 150px
			@include button-rounded($color-primary, 999em)

