| {% block body %}

.container.box
	#blog_container

		#blog_post-container

			.blog_index-item

				.item-title
					| {{node.name}}

				.item-info
					| {{node._updated | pretty_date }} | {{node.properties.category}} by {{node.user.full_name}}

				.item-content
					| {{node.properties.content }}


			#comments-container
				#comments-list-items-loading
					i.pi-spin

		#blog_index-sidebar

| {% endblock %}


| {% block footer_scripts %}

include ../_scripts

| {% endblock %}
