{% macro render_file_uploader() %}
<div id="fileUploaderModal" tabindex="-1" role="dialog" aria-labelledby="fileUploaderModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Upload file</h4>
      </div>
      <div class="modal-body">{% include '_macros/include _file_uploader_form.html' %}</div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
      </div>
    </div>
  </div>
</div>{% endmacro %}