
<div id="node-add-container">
  <div id="node-add-header">
    <div class="node-add-title">Upload Assets</div>
  </div>
  <div id="node-add-form">
    <p>
      This is the first step in the asset creation process. Once files are uploaded,
      they are stored in a temp location until further actions are taken.
      You can upload multiple assets simultaneously, but you can only edit one at a time.
      
    </p>
    <hr/>
    <!-- The file upload form used as target for the file upload widget-->
    <form id="fileupload" action="{{url_for('files.upload')}}" method="POST" enctype="multipart/form-data">
      <!-- Redirect browsers with JavaScript disabled to the origin page-->
      <noscript>
        <input type="hidden" name="redirect" value="{{url_for('files.upload')}}"/>
      </noscript>
      <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload-->
      <div class="row fileupload-buttonbar">
        <div class="col-lg-7">
          <!-- The fileinput-button span is used to style the file input field as button--><span class="btn btn-success fileinput-button"><i class="ion-plus-round"></i><span>Add files...</span>
            <input type="file" name="file" multiple=""/></span>
          <button type="submit" class="btn btn-primary start"><i class="ion-upload"></i><span>Start upload</span></button>
          <button type="reset" class="btn btn-warning cancel"><i class="ion-close-round"></i><span>Cancel upload</span></button>
          <button type="button" class="btn btn-danger delete"><i class="ion-trash-b"></i><span>Delete</span></button>
          <input type="checkbox" class="toggle"/>
          <!-- The global file processing state--><span class="fileupload-process"></span>
        </div>
        <!-- The global progress state-->
        <div class="col-lg-5 fileupload-progress fade">
          <!-- The global progress bar-->
          <div role="progressbar" aria-valuemin="0" aria-valuemax="100" class="progress progress-striped active">
            <div style="width:0%;" class="progress-bar progress-bar-success"></div>
          </div>
          <!-- The extended global progress state-->
          <div class="progress-extended"> </div>
        </div>
      </div>
      <!-- The table listing the files available for upload/download-->
      <table role="presentation" class="table">
        <tbody class="files"></tbody>
      </table>
    </form><br/>
    <h3>Notes</h3>
    <ul>
      <li>The maximum file size for this interface is<strong> 1 GB</strong>.</li>
      <li>Only the following formats are allowed:<br/><strong class="text-uppercase">
          {% set formats = config.ALLOWED_EXTENSIONS|string %}
          {{formats[5:-2]}}</strong></li>
    </ul>
  </div>
</div>