{% raw %}
<!-- The template to display files available for upload -->
<script id="template-upload" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Start</span>
                </button>
            {% } %}
            {% if (!i) { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
{% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                    <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
                <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td>
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td>
            {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Delete</span>
                </button>
                <input type="checkbox" name="delete" value="1" class="toggle">
                <div class="btn btn-success create" data-name="{%=file.name%}" data-type="{%=file.type%}">
                    <i class="glyphicon glyphicon-cloud-upload"></i>
                    Create
                </div>
            {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancel</span>
                </button>
            {% } %}
        </td>
    </tr>
{% } %}
</script>
{% endraw %}

<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/vendor/jquery.ui.widget.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript-templates/js/tmpl.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript-load-image/js/load-image.all.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='javascript-canvas-to-blob/js/canvas-to-blob.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='gallery/js/jquery.blueimp-gallery.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.iframe-transport.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-process.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-image.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-audio.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-video.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-validate.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='jquery-file-upload/js/jquery.fileupload-ui.js') }}"></script>
<script type="text/javascript" src= "{{ url_for('static', filename='jquery-file-upload/js/main.js') }}"></script>

<script type="text/javascript">
    $("body").on("click", ".create", function(event) {
        event.preventDefault();
        add_button = document.getElementById("item_add");
        var parent_id = add_button.getAttribute('data-parent_node_id');
        $.post("{{url_for('nodes.assets_create')}}", {
            name: $(this).attr("data-name"),
            type: $(this).attr("data-type"),
            parent_id: parent_id})
            .done(function(data) {
                if (parent_id) {
                    // We are in embedded mode and try to call the editNode function
                    editNode(data.asset_id);
                } else {
                    window.location.replace("/nodes/" + data.asset_id + "/edit");
                }
                //alert( "Data Loaded: " + data.message );
        });
    });

    // Temporary list of CSS to style the upload form
    var cssLinks = ['/static/assets/css/blueimp/blueimp-gallery.min.css',
        '/static/jquery-file-upload/css/jquery.fileupload.css',
        '/static/jquery-file-upload/css/jquery.fileupload-ui.css']

    $.each(cssLinks, function(index, value) {
        // Check if the CSS is needed
        if (!$("link[href='" + value + "']").length) {
            $('<link href="' + value + '" rel="stylesheet">').appendTo("head");
      }
    });


</script>
