{% block body %}
<div id="node-container"><a href="{{node.picture}}">
    <section class="node-preview image"><img src="{{node.picture}}"/></section></a>
  <section class="node-details-container">
    <div class="node-details-header">
      <div class="node-title">{{node.name}}</div>
    </div>
    <div class="node-details-description">{{node.description|safe}}</div>
    <div class="node-details-meta">
      <ul class="node-details-meta-list">
        <li class="node-details-meta-list-item status">{{node.properties.status}}</li>
        <li class="node-details-meta-list-item">{{ node._created }}</li>
        <li class="node-details-meta-list-item image download"><a href="{{node.picture}}">
            <button type="button" class="btn btn-default">Download</button></a></li>
      </ul>
    </div>
  </section>
  <section class="debug hidden">{{ node.to_dict() }}</section>
</div>{% endblock %}