script(type="text/javascript").

	/* Convert Markdown */
	var convert = new Markdown.getSanitizingConverter().makeHtml;
	$('.node-details-description').html(convert($('.node-details-description').text()));

	var url = "{{url_for('nodes.comments_index')}}?parent_id={{node._id}}"
	$.get(url, function(dataHtml) {
		// Update the DOM injecting the generate HTML into the page
		$('#comments-container').replaceWith(dataHtml);
	})

	{% if node.has_method('PUT') %}
		$('#item_edit').attr('data-node_id', '{{node._id}}');
		$('#item_add').attr('data-parent_node_id', '{{parent._id}}');

		$('#item_add, #item_edit').show();
	{% else %}
		$('#item_add, #item_edit').hide();
	{% endif %}


