script(type="text/javascript").

	/* Convert Markdown */
	var convert_fields = '.node-details-description, .blog_index-item .item-content';
	var convert = new Markdown.getSanitizingConverter();
	Markdown.Extra.init(convert);
	convert = convert.makeHtml;


	/* Parse description/content fields to convert markdown */
	$(convert_fields).each(function(i){
		$(convert_fields).eq(i).html(convert($(convert_fields).eq(i).text()));
	});

	ProjectUtils.setProjectAttributes({isProject: ''});

	{% if node %}
		ProjectUtils.setProjectAttributes({nodeId: '{{node._id}}'});
		ProjectUtils.setProjectAttributes({nodeType: '{{node.node_type}}'});

		if (ProjectUtils.nodeType() === 'group'){
			$('a', '.button-edit').html('<i class="pi-edit button-edit-icon"></i> Edit Folder');
			$('a', '.button-delete').html('<i class="pi-trash button-delete-icon"></i>Delete Folder');
		} else if (ProjectUtils.nodeType() === 'group_texture'){
			$('a', '.button-edit').html('<i class="pi-edit button-edit-icon"></i>Edit Texture Folder');
			$('a', '.button-delete').html('<i class="pi-trash button-delete-icon"></i>Delete Texture Folder');
		} else {
			$('a', '.button-edit').html('<i class="pi-edit button-edit-icon"></i> Edit ' + ProjectUtils.nodeType());
			$('a', '.button-delete').html('<i class="pi-trash button-delete-icon"></i>Delete ' + ProjectUtils.nodeType());
		}

		{% if parent %}
		ProjectUtils.setProjectAttributes({parentNodeId: '{{parent._id}}'});
		{% endif %}


		function loadComments(){
			var commentsUrl = "{{ url_for('nodes.comments_index', parent_id=node._id) }}";

			$.get(commentsUrl, function(dataHtml) {
			})
			.done(function(dataHtml){
				// Update the DOM injecting the generate HTML into the page
				$('#comments-container').replaceWith(dataHtml);
			})
			.fail(function(e, data){
				statusBarSet('error', 'Couldn\'t load comments. Error: ' + data.errorThrown, 'pi-attention', 5000);
				$('#comments-container').html('<a id="comments-reload"><i class="pi-refresh"></i> Reload comments</a>');
			});
		}

		loadComments();

		$('body').on('click', '#comments-reload', function(){
			loadComments();
		});

		{% if node.has_method('PUT') %}
			$('.project-mode-view').show();
		{% else %}
			$('.project-mode-view').hide();
		{% endif %}
	{% endif %}

	var node_preview = document.getElementById("node-preview-thumbnail");

	if (node_preview) {
		node_preview.addEventListener('load', function() {
			var preview_aspect = this.naturalWidth / this.naturalHeight

			if (preview_aspect > 1.0){
				$('.node-preview, .node-preview-thumbnail').css({'max-height': 'auto', 'width': '100%'});
				$('.node-preview img').css({'max-height': '100%'});
			}

		});
	}

	$('#node-overlay').click(function(){
		$(this).removeClass('active').hide().html();
	});

	$('#asset-license').popover();
	$('[data-toggle="tooltip"]').tooltip({'delay' : {'show': 1250, 'hide': 250}})


