{% extends 'layout.html' %}
{% from '_macros/_status_label.html' import render_status_label %}

{% block body %}
<div class="col-md-8">
	<h2>Tasks</h2>
	<table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-hover" id="nodes">
		<thead>
			<tr>
				<th width="1%"></th>
				<th width="15%">Name</th>
				<th>Description</th>
				<th>Task</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
		{% for task in tasks %}
				<tr id="row_{{task._id}}">
					<td>
						{% if task.picture %}
								<img class="table-thumbnail" src="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{task.picture.path}}" alt="{{task.name}} thumbnail">
						{% endif %}
					</td>
					<td>{{task.parent.name}}</td>
					<td>
						{% if task.parent.description %}
							{{task.parent.description|truncate(25)}}
						{% endif %}
					</td>
					<td>
						<a href="{{url_for('nodes.view', node_id=task._id)}}">{{task.name}}</a>
					</td>
					<td class="status">{{render_status_label(task.properties.status)}}</td>
				</tr>
		{% endfor %}

		</tbody>
	</table>
</div>
{% endblock %}
