{% from '_macros/_file_uploader.html' import render_file_uploader %}


{% block body %}
{% with errors = errors %}
	{% if errors %}
		{% for field in errors %}
			<div class="alert alert-danger" role="alert">
					<strong>{{field}}</strong>
					{% for message in errors[field] %}
						{{message}}|
					{% endfor %}
			</div>
		{% endfor %}
	{% endif %}
{% endwith %}

{% if error!="" %}
	<div class="alert alert-danger" role="alert">
		{{error}}
	</div>
{% endif %}

<div class="col-md-12" id="shots-sidebar_edit">
	{% if node.picture_thumbnail %}
		<a href="{{node.picture_thumbnail}}">
			<img src="{{node.picture_thumbnail}}" alt="{{node.name}}" class="node__image_preview">
		</a>
	{% endif %}
	<form method="POST" enctype="multipart/form-data" action="{{url_for('nodes.edit', node_id=node._id)}}">

			<h2>{{node.name}}
				<a href="{{url_for('nodes.edit', node_id=node._id)}}">
					<i class="glyphicon glyphicon-edit pull-right"></i>
				</a>
			</h2>

			<div class="pull-right">
				<h2>
				<input class="btn btn-success action_submit" type="submit" value="Update task">
			</h2>
			</div>

			<div class="clearfix"></div>

			{% for field in form %}
				{% if field.name == 'csrf_token' %}
					{{ field }}
				{% else %}
					{% if field.type == 'HiddenField' %}
							{{ field }}
					{% else %}
						<div class="form-group" id="field_{{ field.name }}">
							{{ field.label }}
							{{ field(class='form-control') }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			<a class="btn task-delete" href="{{url_for('nodes.delete', node_id=node._id)}}" title="Delete Task">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			<div class="pull-right">
				<a class="btn btn-default action_cancel" href="#">Cancel</a>
				<input class="btn btn-success action_submit" type="submit" value="Update {{node.node_type.name}}">
				<span class="btn btn-default task-error"><i class="glyphicon glyphicon-warning-sign"></i> Houston!</span>
				<span class="btn btn-default task-success"><i class="glyphicon glyphicon-ok"></i> Success!</span>
				<span class="btn btn-default task-update" task-id="{{node._id}}">
					<i class="glyphicon glyphicon-refresh"></i> Update Task
				</span>
			</div>
		</form>
</div>
{{ render_file_uploader() }}

<script type="text/javascript" src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

	$( "[task-id^='{{node._id}}']").off( "click" );

	$(document).on("click", "[task-id^='{{node._id}}']", function() {

		task_id = $(this).attr('task-id');
		task_description = $('#description').val();
		task_status = $('#status').val();
		task_revision = $('#revision').val();
		task_owners_users = $("#owners__users").val() || [];
		task_name = '{{ node.name }}';
		task_parent = '#row_{{ node.parent }}';

		var table = $('#shots').DataTable();

		table.row(task_parent).data().tasks[task_name]['status'] = task_status;
		table.draw();

		$.post("/nodes/tasks/edit", {
			task_id: task_id,
			task_status: task_status,
			task_revision: task_revision,
			task_description: task_description,
			task_owners_users: task_owners_users},
			function(node_data) {

				// row_data['tasks'][task_name] = {
				// 	'name': task_name,
				// 	'status': 'todo',
				// 	'url_view': '/nodes/' + node_data['_id'] + '/view?embed=1'}
				// shots_table.row(row).data(row_data).draw();

		})
		.done(function() {
			console.log('success');
			$('.task-update').fadeToggle('.task-success').delay(1500).fadeToggle('.task-update');
		})
		.fail(function() {
			$('.task-update').fadeToggle('.task-error').delay(1500).fadeToggle('.task-update');
		})
		.always(function() {
			//$('.task-update').delay(1000).html('<i class="glyphicon glyphicon-ok"></i> Update');
		})
	});

	$("select#status").addClass($("select#status :selected").val());

	$("select#status").on("change",function(){
		$(this).removeClass();
		$(this).addClass("form-control " + $(this).val());
	});

</script>

{% endblock %}


