{% from '_macros/_file_uploader.html' import render_file_uploader %}


{% block body %}
<div class="col-md-9">
		{% with errors = errors %}
		{% if errors %}
				<div>
				{% for field in errors %}
				<div class="alert alert-danger" role="alert">
						<strong>{{field}}</strong>
						{% for message in errors[field] %}
								{{message}}|
						{% endfor %}
				</div>
				{% endfor %}
				</div>
		{% endif %}
		{% endwith %}
		{% if error!="" %}
				<div class="alert alert-danger" role="alert">
					{{error}}
				</div>
		{% endif %}
</div>
<div class="col-md-6 col-md-push-3">
	{% if node.picture_thumbnail %}
		<a href="{{node.picture_thumbnail}}">
			<img src="{{node.picture_thumbnail}}" alt="{{node.name}}" class="node__image_preview">
		</a>
	{% endif %}
	<form method="POST" enctype="multipart/form-data" action="{{url_for('nodes.edit', node_id=node._id)}}">
			<div class="pull-left">
				<h2>{{ node.name }}</h2>
			</div>

			<div class="pull-right">
				<h2>
				<input class="btn btn-default btn-success" type="submit" value="Update task">
			</h2>
			</div>

			<div class="clearfix"></div>
			<hr/>

			{% for field in form %}
				{% if field.name == 'csrf_token' %}
					{{ field }}
				{% else %}
					{% if field.type == 'HiddenField' %}
							{{ field }}
					{% else %}
						<div class="form-group">
							{{ field.label }}
							{{ field(class='form-control') }}
						</div>
					{% endif %}
				{% endif %}
			{% endfor %}
			<a class="btn btn-danger" href="{{url_for('nodes.delete', node_id=node._id)}}">Delete</a>
			<div class="pull-right">
				<a class="btn btn-default" href="#">Cancel</a>
				<input class="btn btn-default btn-success" type="submit" value="Update {{node.node_type.name}}">
				<span class="btn btn-default task-update" task-id="{{node._id}}">Update AJAX</span>
			</div>
		</form>
</div>
{{ render_file_uploader() }}

<script type="text/javascript">

	$(document).on("click", ".task-update", function() {
		task_id = $(this).attr('task-id');
		task_description = $('#description').val();
		task_status = $('#status').val();
		task_owners_users = $("#owners__users").val() || [];
		$.post("/nodes/tasks/edit", {
			task_id: task_id,
			task_status: task_status,
			task_description: task_description,
			task_owners_users: task_owners_users},
			function(node_data) {
				console.log('Task updated');

				// row_data['tasks'][task_name] = {
				// 	'name': task_name,
				// 	'status': 'todo',
				// 	'url_view': '/nodes/' + node_data['_id'] + '/view?embed=1'}
				// shots_table.row(row).data(row_data).draw();

		});
	});

</script>

{% endblock %}


