{% extends 'layout.html' %}
{% from '_comments.html' import render_comments %}
{% from '_macros/_file_uploader.html' import render_file_uploader %}
{% from '_macros/_file_uploader_javascript.html' import render_file_uploader_javascript %}

{% block body %}
<div class="col-md-9">
	<h2>{{node.name}}</h2>
	<div class="row">
		<div class="col-md-6">
			{% if picture %}
			<a href="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{picture.path}}" class="thumbnail">
					<img src="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{picture.path}}" alt="{{node.name}}">
				</a>
			{% else %}
				<p>Picture goes here</p>
			{% endif %}
		</div>
		<div class="col-md-6">
			<p>{{node.description}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			<p>Status: {{node.properties.status}}</p>
			{% if parent %}
			<p>Parent: <a href="{{url_for('nodes.view', node_id=parent._id)}}">{{parent.name}}</a></p>
			{% endif %}
		</div>
		<div class="col-md-6">
				<h5>Assigned to</h5>
				<ul>
				{% for assigned_user in assigned_users %}
				<li>{{assigned_user.email}}</li>
				{% endfor %}
				</ul>
				<h5>Childrern</h5>
				<ul>
				{% for child in children %}
				<li>{{child.name}}</li>
				{% endfor %}
				</ul>
		</div>
	</div>
	<div class="row">
		<div class="col-md-11">
		</div>
		<div class="col-md-1">
			<a class="btn btn-default btn-s" href="{{url_for('nodes.edit', node_id=node._id)}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
		</div>
	</div>
	{{ render_comments(comments, comment_form, node) }}
	{{ render_file_uploader() }}
</div>

{% endblock %}

{% block footer_scripts %}
{{render_file_uploader_javascript()}}
{% endblock %}
