{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <h2>{{node.name}}</h2>
  <div class="row">
    <div class="col-md-6">
      {% if picture %}
        <a href="http://127.0.0.1:5000/file_server/file/{{picture.path}}" class="thumbnail">
            <img src="http://127.0.0.1:5000/file_server/file/{{picture.path}}" alt="{{node.name}}">
        </a>
      {% else %}
        <p>Picture goes here</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <p>{{node.description}}</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p>Status: {{node.properties.status}}</p>
      {% if parent %}
      <p>Parent: <a href="{{url_for('nodes.view', node_id=parent._id)}}">{{parent.name}}</a></p>
      {% endif %}
    </div>
    <div class="col-md-6">
        <h5>Assigned to</h5>
        <ul>
        {% for assigned_user in assigned_users %}
        <li>{{assigned_user.email}}</li>
        {% endfor %}
        </ul>
        <h5>Childrern</h5>
        <ul>
        {% for child in children %}
        <li>{{child.name}}</li>
        {% endfor %}
        </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-md-11">
    </div>
    <div class="col-md-1">
      <a class="btn btn-default btn-s" href="{{url_for('nodes.edit', node_id=node._id)}}"><i class="glyphicon glyphicon-edit"></i> Edit</a>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <h4>Comments</h4>
        {% for comment in comments %}
        <div style="border-bottom: solid 1px;">
            <h4>{{comment['username']}}</h4>
            <p>{{comment.properties.text}}</p>
        </div>
        {% endfor %}
        <form method="POST" enctype="multipart/form-data" action="{{url_for('nodes.view', node_id=node._id)}}">
        {% for field in comment_form %}
            {% if field.name == 'csrf_token' %}
            {{ field }}
            {% else %}
            {% if field.type == 'HiddenField' %}
                {{ field }}
            {% else %}
                <div class="form-group">
                {{ field.label }} 
                {{ field(class='form-control') }}
                </div>
            {% endif %}
            {% endif %}
        {% endfor %}
        <a class="btn btn-danger" href="{{url_for('nodes.delete', node_id=node._id)}}">Delete</a>
        <div class="pull-right">
          <a class="btn btn-default" href="#">Cancel</a>
          <input class="btn btn-default" type="submit" value="Update {{node.node_type.name}}">
        </div>
      </form>

    </div>
  </div>
</div>

{% endblock %}
