{% from '_comments.html' import render_comments %}

{% block header_items %}
<link rel="stylesheet" href="//releases.flowplayer.org/6.0.3/skin/functional.css">
{% endblock %}

{% block body %}
<div class="col-md-12">
  {% if node.picture %}
    <a href="{{node.picture_thumbnail}}">
      <img src="{{node.picture}}" alt="{{node.name}}" class="node__image_preview">
    </a>
  {% else %}
    <img src="http://placehold.it/550x224&text=Preview+Image" class="node__image_preview">
  {% endif %}
  {% for child in children %}
    {{ child.name }}
  {% endfor%}


</div>

{% endblock %}

{% block footer_scripts %}

{% endblock %}
