
{% extends 'layout.html' %}
{% block body %}
<div class="container">
  <div id="login-container">
    <div class="login-title">Login</div>
    <div class="login-form">
      <form method="POST" action="{{url_for('users.login')}}">
        <div class="form-group">
          {{ form.email.label }}
          {{ form.email(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.password.label }}
          {{ form.password(class='form-control') }}
        </div>
        <input type="submit" value="Login" class="btn btn-default"/>
      </form>
    </div>
  </div>
</div>{% endblock %}