| {% block body %}

#node-container
	section.node-preview.project
		img(src="{{ node.properties.picture_header.thumbnail('l') }}")

	section.node-details-container.project

		.node-details-header
			.node-title
				| {{node.name}}
				// XXX link to user/organization
				// small by {{ node.user }}

			.node-title-details
				.date {{ node._created }}

				//- | {% if node.properties.status %}
				.status {{node.properties.status}}
				//- | {% endif %}

		.node-details-description
			| {{node.description}}

		.node-extra
			.node-updates
				h3 Latest Updates
				ul.node-updates-list
					| {% for i in range(0, 5) %}
					li.node-updates-list-item
						//- a.image(href="")
						//- 	img(src="{{ node.properties.picture_header.thumbnail('s') }}")
						.info
							a.title(href="") Update Name
							span.details
								span.when {{loop.index * 19}} mins ago by
								span.who This Other Guy
					| {% endfor %}

			.node-featured
				h3 Featured Assets
				ul.node-featured-list
					| {% for i in range(0, 8) %}
					li.node-featured-list-item
						a.image(href="")
							img(src="{{ node.properties.picture_header.thumbnail('s') }}")
						.info
							a.title(href="") Featured Name
							span.details
								span.who by
									span That Guy with Long Name
					| {% endfor %}


	section.debug.hidden
		| {{ node.to_dict() }}

| {% endblock %}

