| {% block body %}

#node-container
	section.node-preview.project
		img.header(src="{{ node.properties.picture_header.thumbnail('l') }}")

	section.node-details-container.project

		.node-details-header
			.node-title-details
				.date {{ node._created }}

				//- | {% if node.properties.status %}
				.status {{node.properties.status}}
				//- | {% endif %}

		.node-details-description
			| {{node.description}}

		.node-extra
			.node-updates
				h3 Latest Updates
				ul.node-updates-list
					| {% if node.properties.nodes_latest %}

					| {% for n in node.properties.nodes_latest %}
					li.node-updates-list-item
						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated }} mins ago by
								span.who {{ n.user.full_name }}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No updates yet.

					| {% endif %}

			.node-featured
				h3 Featured Assets
				ul.node-featured-list
					| {% if node.properties.nodes_featured %}

					| {% for n in node.properties.nodes_featured %}
					li.node-featured-list-item
						| {% if n.picture %}
						a.image(href="#", data-node_id="{{ n._id }}")
							img(src="{{ n.picture.thumbnail('m') }}")
						| {% endif %}
						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.who by
									span {{ n.user.full_name }}
					| {% endfor %}

					| {% else %}

					li.node-featured-list-item
						.info
							span.details
								span.when No featured items yet.

					| {% endif %}

include ../_scripts

script().
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").unbind('click');
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").click(function(e) {
		e.preventDefault();
		displayNode($(this).data('node_id'));
		});

| {% endblock %}

