| {% block body %}

#node-container
	section.node-preview.project
		img.header(src="{{ node.properties.picture_header.thumbnail('l', api=api) }}")

	section.node-details-container.project

		.node-details-header
			.node-title-details
				.date(title="Last updated {{ node._updated | pretty_date }}") {{ node._created | pretty_date }}

				| {% if node.properties.status %}
				.status {{node.properties.status}}
				| {% endif %}

		.node-details-description
			| {{node.description}}

		.node-extra
			| {% if node.properties.nodes_blog %}
			.node-blog
				ul.node-blog-list
					h3 Blog
					| {% for n in node.properties.nodes_blog %}
					li.node-blog-list-item
						.info
							a.title(href="{{ url_for('nodes.view', node_id=n._id, redir=1) }}", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated | pretty_date }} by
								span.who {{ n.user.full_name }}
					| {% endfor %}
			| {% endif %}

			.node-updates
				ul.node-updates-list
					h3 Updated Assets
					| {% if node.properties.nodes_latest %}

					| {% for n in node.properties.nodes_latest %}
					| {% if n.node_type.name not in ['comment'] %}
					li.node-updates-list-item
						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.when {{ n._updated | pretty_date }} by
								span.who {{ n.user.full_name }}
					| {% endif %}
					| {% endfor %}

					| {% else %}

					li.node-updates-list-item
						.info
							span.details
								span.when No updates yet.

					| {% endif %}

			.node-featured
				h3 Featured Assets
				ul.node-featured-list
					| {% if node.properties.nodes_featured %}

					| {% for n in node.properties.nodes_featured %}
					li.node-featured-list-item
						| {% if n.picture %}
						a.image(href="#", data-node_id="{{ n._id }}")
							img(src="{{ n.picture.thumbnail('m', api=api) }}")
						| {% endif %}
						.info
							a.title(href="#", data-node_id="{{ n._id }}") {{ n.name }}
							span.details
								span.who by
									span {{ n.user.full_name }}
					| {% endfor %}

					| {% else %}

					li.node-featured-list-item
						.info
							span.details
								span.when No featured items yet.

					| {% endif %}

include ../_scripts

script().
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").unbind('click');
	$(".node-updates-list-item a.title, .node-featured-list-item a.title, .node-featured-list-item a.image").click(function(e) {
		e.preventDefault();
		displayNode($(this).data('node_id'));
	});

| {% endblock %}
