#settings-sidebar
	.settings-header
		.settings-title Settings
	.settings-content
		ul
			a(class="{% if title == 'profile' %}active{% endif %}",
				href="{{ url_for('users.settings_profile') }}")
				li Profile
			a(class="{% if title == 'emails' %}active{% endif %}",
					href="{{ url_for('users.settings_emails') }}")
				li Emails
			a(class="{% if title == 'billing' %}active{% endif %}",
					href="{{ url_for('users.settings_billing') }}")
				li Billing
