| {% extends 'layout.html' %}
| {% block body %}
.container
	#settings
		include _sidebar
		#settings-container
			.settings-header
				.settings-title Billing

			.settings-content

				| {% if store_user['cloud_access'] %}
				h3
					i.pi-check
					|  Your subscription is active. Thank you for supporting us!
				hr

				a(href="https://store.blender.org/my-account/") Blender Store link
				p Expiration date {{ store_user['expiration_date'] }}

				| {% else %}
				h3
					| {% if 'demo' in groups %}
					| Your you have a demo account.
					| {% else %}
					| You do not have an active subscription.
					a(href="https://store.blender.org/product/membership/")  Join now!
					| {% endif %}
				| {% endif %}

				| {% if 'demo' in groups %}
				p You have full access to the Blender Cloud content provided by Blender Blender institute. This account is meant for free evaluation of the service. Get in touch with #[a(href="mailto:cloudsupport@blender.org") cloudsupport@blender.org] if you have any question.
				| {% endif %}

				hr

				.settings-billing-info.
					Paid balance {{ store_user['paid_balance'] }} {{ store_user['balance_currency'] }}


| {% endblock %}
