| {% block body %}

#node-container

	| {% if node.picture %}
	section.node-preview.file
		img(src="{{ node.picture.thumbnail('l') }}")
	| {% endif %}


	section.node-details-container.file

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description}}

		.node-details-meta

			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.date
					| {{ node._created }}

				li.node-details-meta-list-item.type
					| {{ node.properties.content_type }}

				li.node-details-meta-list-item.file.length
					| {{ node.file.length | filesizeformat }}

				li.node-details-meta-list-item.file.download
					a(href="{% if node.has_method('GET') %}{{ node.file.link }}{% else %}{{ url_for('join') }}{% endif %}")
						button.btn.btn-default(type="button")
							| Download


		#comments-container
			#comments-list-items-loading
				i.ion-load-c


include ../../_scripts

| {% endblock %}

