| {% block body %}

#node-container
	| {% if node.picture %}
	section.node-preview.file
		img.node-preview-thumbnail(src="{{ node.picture.thumbnail('l', api=api) }}")
	| {% endif %}


	section.node-details-container.file

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-meta.header
			ul.node-details-meta-list
				li.node-details-meta-list-item.type
					| {{ node.properties.content_type }}

				li.node-details-meta-list-item.file.length
					| {{ node.file.length | filesizeformat }}

				li.node-details-meta-list-item.file.download
					| {% if node.file.link %}
					a(href="{{ node.file.link }}")
						button.btn.btn-default(type="button")
							| Download File
					| {% else %}
					a(href="#")
						button.btn.btn-default.disabled.join-us(type="button")
							| Download File
					| {% endif %}


		.node-details-description
			| {{node.description}}

		.node-details-meta.footer
			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.author
					| {{ node.user.full_name }}

				li.node-details-meta-list-item.date(title="Created {{ node._created | pretty_date }}")
					| {{ node._updated | pretty_date }}

		#comments-container
			#comments-list-items-loading
				i.pi-spin

include ../../_scripts
| {% endblock %}

| {% block footer_scripts %}
script.
	// Generate GA pageview
	ga('send', 'pageview', (location.pathname + '#' + '{{node._id}}'));

	if ($('.node-preview-thumbnail').width() > 750) {
		$('.node-preview.file, .node-preview-thumbnail').css({'max-height': '100%', 'width': '100%'});
	}
	$('.join-us').click(function() {
		$.get('/403', function(data) {
			$('#node-container').html(data);
			$('#error_container').css('display', 'flex');
		})
	});

| {% endblock %}
