| {% block body %}

#node-container
	//- a(href="{{node.picture}}")
	//- 	section.node-preview.file
	//- 		img(src="{{node.picture}}")

	section.node-details-container

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description|safe}}

	section.node-children.group

		| {% if children %}
		| 	{% for child in children %}

		a(href="#", data-node_id="{{ child._id }}", title="{{ child.name }}", class="item_icon")
			.list-node-children-item
				.list-node-children-item-picture
					| {% if child.picture %}
					img.list-node-children-item-picture(
						src="{{ child.picture.thumbnail('b')}} ")
					| {% else %}
					.list-node-children-item-folder
						i.fa.fa-folder-o
					| {% endif %}

				.list-node-children-item-name
					| {% if child.picture %}
					i.fa.fa-folder-o
					| {% endif %}
					| {{ child.name }}

		section.hidden
			| {{ child.to_dict() }}

		| 	{% endfor %}
		| {% endif %}



	section.debug.hidden
		| {{ node.to_dict() }}


	script.
		$('a.item_icon').click(function(e){
			// When clicking on a node preview, we load its content
			e.preventDefault;
			displayNode($(this).data('node_id'));
		});

| {% endblock %}

