| {% extends 'layout.html' %}

| {% block page_title %}{{user.name}}{% endblock%}

| {% block body %}

.container.box
	#blog_container

		#blog_index-container

			| {% for project in projects %}

			.blog_index-item

				a.item-title(
					href="{{ url_for('project_view', name=user.url, project=project.properties.url) }}")
					| {{project.name}}

				.item-info
					| {{project._updated}} | {{project.properties.category}}

				.item-content
					| {{project.description|safe}}

			| {% endfor %}

		#blog_index-sidebar

| {% endblock %}
