| {% extends 'layout.html' %}

| {% block page_title %}Project News{% endblock%}

| {% block body %}

.container.box
	#blog_container

		#blog_index-container

			| {% for item in news %}

			.blog_index-item

				a.item-title(
					href="#")
					| {{item.name}}

				.item-info
					| {{item._updated}} | {{item.properties.category}}

				.item-content
					| {{item.properties.content|safe}}

			| {% endfor %}

		#blog_index-sidebar

| {% endblock %}
