| {% extends 'layout.html' %}

| {% block page_title %}Project News{% endblock%}

| {% block body %}

.container.box
	#blog_container

		#blog_index-container

			| {% for post in posts %}

			.blog_index-item

				a.item-title(
					href="{{url_for('blog_view', url=post.properties.url)}}")
					| {{post.name}}

				.item-info
					| {{post._updated}} | {{post.properties.category}}

				.item-content
					| {{post.properties.content|safe}}

			| {% endfor %}

		#blog_index-sidebar

| {% endblock %}
