| {% extends 'layout.html' %}

| {% block page_title %}Blog{% endblock%}

| {% block body %}

.container.box
	#blog_container

		#blog_index-container

			| {% if posts %}

			| {% for post in posts %}

			.blog_index-item

				a.item-title(
					href="{{url_for('main_blog', url=post.properties.url)}}")
					| {{post.name}}

				.item-info
					| {{post._updated}} | {{post.properties.category}}

				.item-content
					| {{post.properties.content}}

			| {% endfor %}

			| {% else %}

			.blog_index-item
				.item-content No posts yet.

			| {% endif %}

		#blog_index-sidebar
			| {% if node_type_post.has_method('POST') %}
			a.btn.btn-default.button-create(href="/blog/create")
				| Create New Post
			| {% endif %}

| {% endblock %}

| {% block footer_scripts %}
include ../_scripts
| {% endblock %}
