{% extends 'layout.html' %}

{% block body %}
<div class="col-md-9">
  <div class="row">
    <div class="col-md-12">
      <h2>Stats</h2>
      {% for status in node_statuses %}
        <div class="row">
          <div class="col-md-12">
          <h3>{{status}} - {{node_statuses[status]['count']}} - {{node_statuses[status]['frames']}}f</h3>
          <div class="progress">
            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: {{node_statuses[status]['completion']}}%;">
              <span class="sr-only">{{node_statuses[status]['completion']}}% Complete</span>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
