| {% block body %}

#node-container

	| {% if node.picture %}
	a(href="{{ node.picture.thumbnail('l') }}")
		section.node-preview.image
			img(src="{{ node.picture.thumbnail('l') }}")
	| {% endif %}

	section.node-details-container

		.node-details-header
			.node-title
				| {{node.name}}

		.node-details-description
			| {{node.description|safe}}

		.node-details-meta

			ul.node-details-meta-list
				li.node-details-meta-list-item.status
						| {{node.properties.status}}

				li.node-details-meta-list-item.date
					| {{ node._created }}

				li.node-details-meta-list-item.image.download
					a(href="{{ node.file.link }}")
						button.btn.btn-default(type="button")
							i.fa.fa-download.icon-download-file
							|  Download

		include ../_comments.jade

| {% endblock %}

