| {% extends 'layout.html' %}

| {% block body %}
.container
	#login-container
		.login-title Welcome back!

		.login-form
			form#login-form(method="POST", action="{{url_for('users.login')}}")
				.form-group
					| {{ form.email.label }}
					| {{ form.email(class='form-control') }}

				.form-group
					| {{ form.password.label }}
					| {{ form.password(class='form-control') }}

				.buttons
					button.btn.btn-default.button-login(type="submit")
						i.ion-log-in
						| Login

					.lead-register
						a.forgot(href="https://blender.org/id/reset") forgot your password?
						a.btn.btn-default.button-register(href="https://blender.org/id/register", target="_blank")
							i.ion-android-star-outline
							| Create Account


| {% endblock %}

| {% block footer_container %}{% endblock %}
