| {% extends 'layout.html' %}

| {% block body %}
.container
	#login-container
		.login-title Welcome back!

		.login-info
			| Sign in using your
			a(href="https://blender.org/id/")  Blender ID
			| .
			a(href="https://blender.org/id/register")  Don't have one?


		.login-form
			form#login-form(method="POST", action="{{url_for('users.login')}}")
				.form-group
					| {{ form.email.label }}
					| {{ form.email(class='form-control') }}

				.form-group
					| {{ form.password.label }}
					| {{ form.password(class='form-control') }}

				.buttons
					.login-button-container
						a.forgot(href="https://blender.org/id/reset") forgot your password?
						button.btn.btn-default.button-login(type="submit")
							i.pi-log-in
							| Login

					a.btn.btn-default.button-register(href="https://blender.org/id/register", target="_blank")
						i.pi-star-outline
						| Create Account


| {% endblock %}

| {% block footer_container %}{% endblock %}
