| {% extends 'layout.html' %}
| {% block body %}
.container
	#profile-container.page-content
		.profile-title Profile
		.profile-form
			form#profile-form(method='POST', action="{{url_for('users.profile')}}")
				.form-group
					| {{ form.full_name.label }}
					| {{ form.full_name(size=20, class='form-control') }}
				.buttons
					button.btn.btn-default.button-submit(type='submit')
						i.ion-checkmark-round
						| Save Changes
| {% endblock %}
