| {% extends 'layout.html' %}
| {% block body %}
.container
	#profile-container.page-content
		.profile-title Profile Settings

		.profile-form
			form#profile-form(method='POST', action="{{url_for('users.profile')}}")
				.left
					.form-group
						| {{ form.full_name.label }}
						| {{ form.full_name(size=20, class='form-control') }}
						| {% if form.full_name.errors %}
						| {% for error in form.full_name.errors %}{{ error|e }}{% endfor %}
						| {% endif %}

					.form-group
						| {{ form.username.label }}
						| {{ form.username(size=20, class='form-control') }}
						| {% if form.username.errors %}
						| {% for error in form.username.errors %}{{ error|e }}{% endfor %}
						| {% endif %}


					.form-group.profile-password
						| Change your password at the
						a(href="https://blender.org/id/change")  Blender ID

				.right
					.profile-avatar
						a(href="https://gravatar.com/")
							img(src="{{ current_user.gravatar }}")
							span Change Gravatar

				.buttons
					button.btn.btn-default.button-submit(type='submit')
						i.pi-check
						| Save Changes


| {% endblock %}
