| {% block body %}

#node-container

	| {% if node.picture %}
	section.node-preview.image
		img(src="{{ node.picture.thumbnail('l') }}")
	| {% endif %}

	section.node-details-container

		.node-details-header
			.node-title
				| {{node.name}}

		| {% if node.description %}
		.node-details-description
			| {{node.description}}
		| {% endif %}

	section.node-children.group

		| {% if children %}
		| 	{% for child in children %}

		a(href="#", data-node_id="{{ child._id }}", title="{{ child.name }}", class="item_icon")
			.list-node-children-item
				.list-node-children-item-thumbnail

					| {% if child.picture %}
					img(
						src="{{ child.picture.thumbnail('b')}} ")
					| {% endif %}

					.list-node-children-item-thumbnail-icon
						| {% if child.properties.content_type %}

						| {% if child.properties.content_type == 'video' %}
						i.ion-play
						| {% endif %}

						| {% else %}
						i.ion-android-folder
						| {% endif %}

				.list-node-children-item-name

					| {% if child.properties.content_type == 'video' %}
					i.ion-ios-film-outline
					| {% elif child.properties.content_type == 'image' %}
					i.ion-image
					| {% elif child.properties.content_type == 'file' %}
					i.ion-document
					| {% else %}
					i.ion-android-folder
					| {% endif %}

					span {{ child.name }}

		| 	{% endfor %}
		| {% endif %}

	script.
		$('a.item_icon').click(function(e){
			// When clicking on a node preview, we load its content
			e.preventDefault;
			var nodeId = $(this).data('node_id');
			displayNode(nodeId);
			// Update tree with current selection
			$('#project_tree').jstree('select_node', 'n_' + nodeId);
		});

include ../_scripts

| {% endblock %}

