{% macro render_comments(comments, comment_form, node) %}

  <div class="row">
    <div class="col-md-12">
        <h4>Comments</h4>
        {% for comment in comments %}
        <div class="panel panel-default">
        <div class="panel-heading">{{comment['user']['email']}}</div>
        <div class="panel-body">
            {% if comment.picture %}
            <div class="col-md-6">
                <a href="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{comment.picture.path}}" class="thumbnail">
                <img src="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{comment.picture.path}}" alt="{{comment.text}}">
                </a>
            </div>
            {% endif %}
            <p>{{comment.properties.text}}</p>
            <div class="col-md-6">
                {% for attachment in comment.attachments %}
                <a href="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{attachment.path}}" class="thumbnail">
                    <img src="{{config['ATTRACT_SERVER_ENDPOINT']}}/file_server/file/{{attachment.path}}" alt="{{attachment.name}}">
                </a>
                {% endfor %}
            </div>
        </div>
        </div>
        {% endfor %}
        <form method="POST" enctype="multipart/form-data" action="{{url_for('nodes.view', node_id=node._id)}}">
        {% for field in comment_form %}
            {% if field.name == 'csrf_token' %}
            {{ field }}
            {% else %}
            {% if field.type == 'HiddenField' or field.widget.input_type == 'hidden'%}
                {{ field }}
            {% else %}
                <div class="form-group">
                {{ field.label }}
                {{ field(class='form-control') }}
                </div>
            {% endif %}
            {% endif %}
        {% endfor %}
        <input class="btn btn-default" type="submit" value="Comment">
      </form>

    </div>
  </div>

{% endmacro %}
