<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Attract</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-markdown.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/main.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='assets/css/bootstrap-colorpicker.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='gallery/css/blueimp-gallery.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-file-upload/css/jquery.fileupload.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='jquery-file-upload/css/jquery.fileupload-ui.css') }}" rel="stylesheet">
    <noscript>
      <link href="{{ url_for('static', filename='jquery-file-upload/css/jquery.fileupload-noscript.css') }}" rel="stylesheet">
    </noscript>
    <noscript>
      <link href="{{ url_for('static', filename='jquery-file-upload/css/jquery.fileupload-ui-noscript.css') }}" rel="stylesheet">
    </noscript>
    <link href="{{ url_for('static', filename='assets/ico/favicon.png') }}" rel="shortcut icon">{% block header_items %}{% endblock %}
  </head>
  <body>
    <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" type="button" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand">Attract</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li id="node_types" class="dropdown"><a id="drop4" href="#" data-toggle="dropdown" class="dropdown-toggle">Nodes <b class="caret"></b></a>
              <ul role="menu" aria-labelledby="drop4" class="dropdown-menu">{% for name in type_names %}
                <li><a>{{name.title()}}</a></li>{% endfor %}
              </ul>
            </li>
            <li id="fat-menu" class="dropdown"><a id="drop3" data-toggle="dropdown" class="dropdown-toggle">{{current_user.email}} <b class="caret"></b></a>
              <ul role="menu" aria-labelledby="drop3" class="dropdown-menu">
                <li><a href="{{url_for('users.tasks')}}" role="menuitem" tabindex="-1">Tasks</a></li>
                <li><a href="{{url_for('users.tasks')}}" role="menuitem" tabindex="-1">Profile</a></li>
                <li class="divider"></li>
                <!--
                li
                	a(href="{{url_for('node_types.index')}}", role="menuitem", tabindex="-1")
                		| Node Types
                	a(href="{{url_for('nodes.index', node_type_name='')}}", role="menuitem", tabindex="-1")
                		| All Nodes
                -->{% if email!="" %}
                <li><a href="{{url_for('users.logout')}}" role="menuitem" tabindex="-1">Log out</a></li>{% else %}
                <li><a href="{{url_for('users.login')}}" role="menuitem" tabindex="-1">Log in</a></li>{% endif %}
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages() %}
          		{% if messages %}
          <div>	{% for message in messages %}
            <div role="alert" class="alert alert-success">{{message}}</div>	{% endfor %}
          </div>		{% endif %}
          {% endwith %}
        </div>
      </div>
      <div class="row">
        {% block body %}{% endblock %}
        {% block sidebar %}
        <div class="col-md-3"></div>	{% endblock %}
      </div>
      <hr>
      <footer>
        <p>Attract 3 - Python powered</p>
      </footer>
    </div>{#
    {% assets filters="jsmin",
    		 output="assets/packed/attract.js",
    		 "assets/js/bootstrap-markdown.js",
    		 "assets/js/markdown.js",
    		 "assets/js/jquery.attract.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>{% endassets %}
    #}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>{% block footer_scripts %}{% endblock %}
  </body>
</html>
