script(type="text/javascript").

	/* Convert Markdown */
	var convert = new Markdown.getSanitizingConverter().makeHtml;
	var convert_fields = '.node-details-description, .blog_index-item .item-content';

	/* Parse description/content fields to convert markdown */
	$(convert_fields).each(function(i){
		$(convert_fields).eq(i).html(convert($(convert_fields).eq(i).text()));
	});

	ProjectUtils.setProjectAttributes({isProject: 'True', nodeId: '', parentNodeId: ''});
	var movingNodeId = Cookies.get('bcloud_moving_node_id');

	if (movingNodeId){
		$('#item_move_accept').removeClass('disabled');
		$('#item_move_accept').html('<i class="pi-check"></i> Move to Root');
	};
